<html lang="en"  ng-app="app"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Page-Enter" content="revealTrans(Duration=10.0,Transition=1)">
    <!-- Note there is no responsive meta tag here -->

    <link rel="icon" href="img/KH_Symbol.png">

    <title>Blogs | Kritical Health App</title>
    
    
    <!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700'>


	
	

    

  </head>

   <body class=" ">

        <div class="content minheight70vh">
            <div class="container" ng-controller="BlogInnerController as blogInnerController">
                <div class="row">
                    <div class="col-md-8 col-sm-7">
                        <div class="ad-card" >
                            <div class="cd-wrap-mini" style="padding: 17px 4%;">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="blog-main-userimg">
                                            <img ng-src="{{blogInnerController.singleBlog.picture}}" class="img-circle img-responsive"/>
                                        </div>
                                <!--         <div class="blog-main-name">
                                            <a href="#" class="popz" data-toggle="popover" data-placement="top" data-html="true" data-content="<a href='blog-author.html'>View all posts</a> | <a href='profile.html'>View Profile</a>"><h3 class="popz">Swathi Jain </h3></a>
                                            <span class="text-red">April 26, 2016</span>
                                        </div> -->
                                        <div class="blog-main-luv">
                                            <ul class="list-inline">
                                                <!-- <li><a href="#"><span class="e-share e-icon"></span></a></li> -->
                                                <li><a ng-click="likeUnlike(blogInnerController.singleBlog.id)"><span ng-show="!blogInnerController.singleBlog.likedByYou" class="e-luv e-icon"   ></span><span class="e-luv-color e-icon" ng-show="blogInnerController.singleBlog.likedByYou"  ></span></a>
                                               </li>
                                                <li class="font-regular"><a  ng-click="loadMoreForLikedBy(blogInnerController.singleBlog.id,true,blogInnerController.singleBlog.noOfLikes)"><span class="text-red "  style="cursor:pointer"> {{blogInnerController.singleBlog.noOfLikes}}</span></a> </li>
                                              
                                            </ul>
                                        </div>
                                        <div class="blog-main-name" >   <!-- <a href='blog-author.html'>View all posts</a> |-->  
                                            <a class="popz" data-toggle="popover" data-placement="top" data-html="true" data-content="<a href='{{blogInnerController.singleBlog.userName}}'>View Profile</a>"><h3 class="popz">{{blogInnerController.singleBlog.name}}</h3></a>
                                            <span class="text-red">{{blogInnerController.singleBlog.postedOn | date:'MMM dd, yyyy'}}</span>
                                        </div>
                                        <!-- <div class="blog-main-luv">
                                            <ul class="list-inline">
                                                <li><a href="#"><span class="e-share e-icon"></span></a></li>
                                                <li><a href="#"><span class="e-luv e-icon"></span></a></li>
                                            </ul>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="spacer10"></div>
                                <div class="row blog-maincontent">
                                
                                
                                    <div class="col-xs-12 mob-act-cont">
                                       <img ng-src="{{blogInnerController.singleBlog.imageUrl}}" class="img-responsive full-width"/>
                                        <h1>{{blogInnerController.singleBlog.title}}</h1>
                                        <p class="blog-highlight" ng-bind-html="blogInnerController.singleBlog.content | unsafe "></p>

                                    </div>
                                </div>
                                
                               <!--   <div class="bottom-line-light"></div> -->
                                 
                                 <div class="blog-actions">

                                           <!--  <div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="spacer5"></div><div class="spacer5"></div>
                                                        <p class="mgleft5">
                                                            <a ng-if="isPreviousComments" class="" style="cursor: pointer;margin-left:5px; text-decoration:underline" id="CommentLoadMore" ng-click="blogInnerController.getBlogsComment(blogInnerController.singleBlog.id,false)" class="font-size16"> View Previous Comments
                                                            </a>
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="spacer10"></div> -->
                                            
                                             <div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <ul class="list-inline">
                                                           <!--  <li><a  href="#">Like</a></li> -->
                                                                     <li><a ng-hide="blogInnerController.singleBlog.likedByYou === true"
																						
																						data-ng-click="likeUnlike(blogInnerController.singleBlog.id)"
																						class="pointer" style="cursor: pointer">Like</a> <a
																						ng-show="blogInnerController.singleBlog.likedByYou === true"
																						
																						ng-click="likeUnlike(blogInnerController.singleBlog.id)"
																						class="pointer" style="cursor: pointer">UnLike</a> </li>
                                                             <!-- <li><a style="cursor:pointer"  ng-click="scrollTo('commentsInput')">Comment</a></li> -->
                                                            <!-- <li><a href="#">Share</a></li>  -->
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="bottom-line-light"></div>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div class="spacer5"></div>
                                                        <p class="mgleft5">
                                                             <a class="" style="cursor: pointer;margin-left:5px;" id="noMoreRecordsToShow" class="font-size16" ng-show="blogInnerController.singleBlog.noOfComments>0">{{blogInnerController.singleBlog.noOfComments}}  <span ng-if="blogInnerController.singleBlog.noOfComments==1"> Comment</span>  <span ng-if="blogInnerController.singleBlog.noOfComments>1"> Comments</span> 
                                                            </a> 
                                                             <a ng-if="isPreviousComments" class="" style="cursor: pointer;margin-left:5px; text-decoration:underline" id="CommentLoadMore" ng-click="blogInnerController.getBlogsComment(blogInnerController.singleBlog.id,false)" class="font-size16"> View Previous Comments 
                                                            </a>
                                                        </p>
                                                        
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="spacer5"></div>
                                                        <p class="mgleft5">
                                                            <a style="cursor: pointer; margin-left:5px; text-decoration:none; float:right" class="font-size14 text-red"  ng-click="loadMoreForLikedBy(blogInnerController.singleBlog.id,true,blogInnerController.singleBlog.noOfLikes)">{{blogInnerController.singleBlog.noOfLikes}} Likes
                                                            </a>
                                                        </p>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bottom-line-light"></div>
                                            <div class="spacer20"></div>
                                            
                                            
                                            <div class="row" ng-repeat="comments  in blogInnerController.comments[blogInnerController.singleBlog.id]">
                                                <div class="col-sm-12">
                                                    <ul class="list-inline" style="display:flex">
                                                        <li style="min-width: 40px" class="fl-left mgleft10">
                                                            <img class="img-circle" href="{{comments.userName}}" ng-src="{{comments.picture}}" width="35">
                                                        </li>
                                                        <li class="fl-left mgleft10">
                                                            <a href="{{comments.userName}}">{{comments.name}}</a> 
                                                            <p class="mgbottom5">{{comments.comment}}</p>
                                                            <ul class="list-inline">
                                                                <li><a ng-hide="comments.likedByYou === true"
																						data="{{comments.commentId}}"
																						data-ng-click="commentLikeUnlike(comments.commentId,blogInnerController.singleBlog.id)"
																						class="pointer" style="cursor: pointer">Like</a> <a
																						ng-show="comments.likedByYou === true"
																						data="{{comments.commentId}}"
																						data-ng-click="commentLikeUnlike(comments.commentId,blogInnerController.singleBlog.id)"
																						class="pointer" style="cursor: pointer">UnLike</a> </li>
                                                                <li><a href="#" data="{{comments.commentId}}"
																						data-ng-click="blogInnerController.getReplies(comments.commentId,true);showReply=!showReply">Reply</a></li>
                                                                <li>|</li>
                                                                <li class="font-regular"><a ><img ng-if="!comments.likedByYou" src="img/kh_icons/g-heart.png" width="15" class="luv-ico" ng-click="commentLikedBy(comments.commentId,true,comments.noOfLikes)">
                                                                <img ng-if="comments.likedByYou" src="img/kh_icons/e-luv-color.png" width="15" class="luv-ico" ng-click="commentLikedBy(comments.commentId,true,comments.noOfLikes)"><span class="text-red "> {{comments.noOfLikes}}</span></a> </li>
                                                                <li class="font-regular"><span class="text-muted">{{comments.commentedOn| date:'MMM dd yyyy HH:mm:ss'}}</span></li>
                                                            </ul>
                                                        </li>
                               
                                                        <li class="fl-right" style=" min-width: 50px" ng-if="blogInnerController.loggedInUserId==comments.createdBy">
                                                            <div class="dropdown groups-dropdown">
                                                              <span class="dropdown-toggle groups-toggle mg-rt-5" type="button" data-toggle="dropdown" aria-expanded="false" style="padding: 1px 3px;"><span class="caret"></span></span>

                                                              <ul class="dropdown-menu">
                                                                <!-- <li><a href="#">Edit</a></li> -->
                                                                <li><a style="cursor:pointer" ng-click="deleteBlogComment(comments.commentId,blogInnerController.singleBlog.id,$index)">Delete</a></li>
                                                              </ul>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                    
                                                    <div class="row">
                                                        <div class="col-sm-3" style="width:70px"></div>
                                                        <div class="col-sm-9">
                                                            <p class="text-aqua " href="#" data-toggle="collapse" data-target="#subcmt1" style="cursor:pointer; text-decoration:underline" data-ng-click="blogInnerController.getReplies(comments.commentId,true);showReply=!showReply" ng-show="comments.noOfReplies!=0"> <span ng-show="comments.noOfReplies==1"> {{comments.noOfReplies}} Reply</span>  <span ng-show="comments.noOfReplies>1"> {{comments.noOfReplies}} Replies</span></p>
                                                        </div>
                                                    </div>

                                                    <div class="spacer10"></div>
                                                        	<span  ng-show="showReply" style="margin-left:100px;"><a data="{{comments.commentId}}" ng-if="isPreviousReplies"
																						data-ng-click="blogInnerController.getReplies(comments.commentId,false)"
																						class="pointer text-align:center" style="cursor: pointer">view previous replies
																					</a></span>
                                               
                                                    <div class="row" ng-show="showReply"  ng-repeat="reply in blogInnerController.replies[comments.commentId]" >
                                                        
                                                    
                                                        
                                                        <div class="col-sm-12">
                                                            <ul class="list-inline" style="display:flex">
                                                                <li class="fl-left" style="width: 60px">
                                                                    <div class="spacer20"></div>
                                                                </li>
                                                                <li style="width: 40px" class="fl-left mgleft10">
                                                                    <img class="img-circle"  href="{{reply.userName}}" ng-src="{{reply.picture}}"  width="35">
                                                                </li>
                                                                <li class="fl-left mgleft10">
                                                                    <a href="{{reply.userName}}">{{reply.name}}</a>
                                                                    <p class="mgbottom5"> {{reply.comment}}</p>
                                                                    <ul class="list-inline">
                                                                        <li><a ng-hide="reply.likedByYou === true"
																								data="{{comments.commentId}}"
																								data-ng-click="commentLikeUnlike(comments.commentId,blogInnerController.singleBlog.id,reply.commentId)"
																								class="pointer" style="cursor: pointer">Like</a> <a
																								ng-show="reply.likedByYou === true"
																								data="{{comments.commentId}}"
																								data-ng-click="commentLikeUnlike(comments.commentId,blogInnerController.singleBlog.id,reply.commentId)"
																								class="pointer" style="cursor: pointer">UnLike</a>
																						</li>
                                                                        <!-- <li><a href="#">Reply(60)</a></li> -->
                                                                        <li>|</li>
                                                                        <li class="font-regular"><a ><img src="img/kh_icons/g-heart.png" width="15" class="luv-ico"  ng-click="commentLikedBy(reply.commentId,true,reply.noOfLikes)"><span class="text-red " > {{reply.noOfLikes}}</span></a> </li>
                                                                        <li class="font-regular"><span class="text-muted">{{reply.commentedOn | date:'MMM dd yyyy HH:mm:ss'}}</span></li>
                                                                                 
                                                                        
                                                                    </ul></li>
                                                                    
                                                 
                                                                <li class="fl-right" style="    min-width: 50px;position: absolute; right: 15px; " ng-if="blogInnerController.loggedInUserId==reply.createdBy" >
                                                                    <div class="dropdown groups-dropdown">
                                                                      <span class="dropdown-toggle groups-toggle mg-rt-5" type="button" data-toggle="dropdown" aria-expanded="false" style="padding: 1px 3px;"><span class="caret" ></span></span>

                                                                      <ul class="dropdown-menu">
                                                                      <!--   <li><a href="#">Edit</a></li> -->
                                                                      <li><a style="cursor:pointer" ng-click="deleteCommentReply(reply.commentId,comments.commentId,$index)">Delete</a></li>
                                                                      </ul>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <div class="clearfix"></div>

                                                        </div>
                                                    </div>
                                                    
                                            <div class="row"  ng-show="showReply">
                                            
                                        
                                                <div class="col-sm-12">
                                                    <!--<input type="text" class="act-comment act-cmt-2 full-width" placeholder="Add a comment"/>-->
                                                    <div class="input-group subcmt-replyblk">
                                                        <input  class="comment"  id="commentInput"  autofocus="autofocus"  maxlength="150" type="text" class="act-comment form-control " ng-model="blogInnerController.rep[$index]" placeholder="reply to this comment (150 characters) " required="required"> 
                                                        <span class="input-group-btn"> 
                                                            <button type="submit" id="comments" class="btn pull-right ease btn-info btn-aqua" ng-disabled="!blogInnerController.rep[$index]" ng-click="reply(blogInnerController.singleBlog.id,comments.commentId,$index)">REPLY</button>
                                                        </span>
                                                        <div class="spacer10"></div>

                                                    </div>
                                                </div>
                                            </div>
                                            
                                             <div class="spacer20"></div>
                                                    

                                                </div>
                                
                                            </div> 
                                       
                                            <div class="row" >
                                                <div class="col-sm-12 pad-zero-lg">
                                                    <!--<input type="text" class="act-comment act-cmt-2 full-width" placeholder="Add a comment"/>-->
                                                    <div class="input-group">
                                                        <input maxlength="150" type="text" class="act-comment form-control " ng-model="blogInnerController.com" placeholder="Add a comment " required="required"> 
                                                        <span class="input-group-btn"> 
                                                            <button type="submit" id="comments" class="btn pull-right ease btn-info btn-aqua" ng-disabled="!blogInnerController.com" ng-click="comment(blogInnerController.singleBlog.id)">COMMENT</button>
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <!-- Popup Message -->
                                                            <div class="modal fade con-messagebox" id="con-likebox" role="dialog">
                                                                <div class="modal-dialog modal-sm">
                                                                  <div class="modal-content">
                                                                    <div class="modal-header">
                                                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                      <h4 class="modal-title">People who reacted  ({{blogInnerController.commentLikes}})</h4>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="like-item-cont overflow-scrolly">
                                                                            <div class="row like-items" ng-repeat="commentLikedBy in blogInnerController.commentLikedBy">
                                                                                <div class="col-xs-3">
                                                                                    <img width="50" ng-src="{{commentLikedBy.picture}}"/>
                                                                                </div>
                                                                                <div class="col-xs-9">
                                                                                    <a class="font-regular text-red mgbottom5"  data-ng-click="blogInnerController.commentLikedByToggle(commentLikedBy.userName)" class="pointer"> {{commentLikedBy.name}}</a>
                                                                              <!--       <p class="font-size12">21 Common connection</p -->
                                                                                </div>
                                                                            </div>
                                                                        
                                                                           <div ></div>
                                                                           <div class="spacer10"></div>
                                                                           <center ng-show="isCommentLikedBy">
																						<a
																							data-ng-click="commentLikedBy(blogInnerController.commentId,false,blogInnerController.commentLikes)"
																							class="btn btn-info btn-skills pointer" style="color:white">Load
																							more</a>
																					</center>
                                                                            
                                                                            

                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                          </div>
                                                          
                                                                                    <div class="modal fade con-messagebox" id="con-likebox-blog" role="dialog">
                                                                <div class="modal-dialog modal-sm">
                                                                  <div class="modal-content">
                                                                    <div class="modal-header">
                                                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                      <h4 class="modal-title">People who reacted  ({{blogInnerController.singleBlog.noOfLikes}})</h4>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="like-item-cont overflow-scrolly">
                                                                           <div class="row like-items" ng-repeat="likedBy in blogInnerController.likedBy">
                                                                                <div class="col-xs-3">
                                                                                    <img width="50" ng-src="{{likedBy.picture}}"/>
                                                                                </div>
                                                                                <div class="col-xs-9">
                                                                                    <a class="font-regular text-red mgbottom5"  data-ng-click="blogInnerController.commentLikedByToggle(likedBy.userName)" class="pointer"> {{likedBy.name}}</a>
                                                                              <!--       <p class="font-size12">21 Common connection</p -->
                                                                                </div>
                                                                            </div>
                                                                            <div class="spacer10"></div>
                                                                            <center ng-show="isBlogLikedBy">
																						<a
																							data-ng-click="commentLikedBy(blogInnerController.singleBlog.id,false,blogInnerController.singleBlog.noOfLikes)"
																							class="btn btn-info btn-skills pointer" style="color:white">Load
																							more</a>
																					</center>
                                                                           
                                                                           
                                                                      
                                                                            
                                                                         
                                                                            
                                                                            

                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                          </div>
                                                          
                                        </div>
                                
                                
                            </div>
                 
                        </div>

                    </div>
               <!--      <div class="col-md-4 col-sm-5" ng-hide="blogInnerController.recentBlogs.length==0">
                        <div class="ad-card">
                            <div class="cd-wrap-right">
                                <h3>Recent Posts</h3>
                                <div class="spacer10"></div>
                                <p class="bottom-line"></p>
                                <div class="spacer10"></div>
                                 <div ng-repeat="recentBlog in blogInnerController.recentBlogs">
                                <div class="row">
                                
                                    <div class="col-xs-3 text-center">
                                         <a href="{{globals.currentUser.username}}"><img ng-src={{recentBlog.picture}} class="img-circle img-responsive"/></a>
                                    </div>
                                    <div class="col-xs-9 nopadding">
                                        <h3 class="blog-side-title"><a href="blog-inner/{{recentBlog.id}}">{{recentBlog.title}}</a></h3>
                                        <p>{{recentBlog.name}}</p>
                                    </div>
                                </div>
                                <div class="spacer10"></div>
                                <p class="bottom-line"></p>
                                <div class="spacer10"></div>
                                </div>
                               
               
                                <div class="spacer10"></div>
                            </div>
                        </div>


                    </div> -->
                </div>
                           <div class="spacer20"></div>
            </div>
            
            
            
            	<!--=== End Container Part ===-->
            
            
            
        </div>

      <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="js/jquery.min.js"></script> -->
   <!-- <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>-->
  <!--   <script src="js/bootstrap.min.js"></script> -->
        <!-- SCRIPTS -->
    <script>

        /*$(document).ready(function(){
 $('[data-toggle="popover"]').popover();   
        });*/
$('.popz').popover({ trigger: "manual" , html: true, animation:false})
    .on("mouseenter", function () {
        var _this = this;
        $(this).popover("show");
        $(".popover").on("mouseleave", function () {
            $(_this).popover('hide');
        });
    }).on("mouseleave", function () {
        var _this = this;
        setTimeout(function () {
            if (!$(".popover:hover").length) {
                $(_this).popover("hide");
            }
        }, 300);
});
    </script>
    <!-- <script src="js/customjs.js"></script> -->
    </body></html>