<!DOCTYPE html>
<html lang="en"  ng-app="app"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Page-Enter" content="revealTrans(Duration=10.0,Transition=1)">
    <!-- Note there is no responsive meta tag here -->

    <link rel="icon" href="img/KH_Symbol.png">
    <!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700'>


	<link rel="stylesheet" href="assets/css/blog.style.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="assets/css/headers/header-v8.css">
	<link rel="stylesheet" href="assets/css/footers/footer-v8.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="assets/plugins/animate.css">
	<link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="assets/plugins/fancybox/source/jquery.fancybox.css">
	<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/plugins/master-slider/masterslider/style/masterslider.css">
	<link rel="stylesheet" href="assets/plugins/master-slider/masterslider/skins/black-2/style.css">
	<link rel="stylesheet" href="assets/plugins/login-signup-modal-window/css/style.css">

	<!-- CSS Theme -->
	<link rel="stylesheet" href="assets/css/theme-colors/green.css" id="style_color">
	<link rel="stylesheet" href="assets/css/theme-skins/dark.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="assets/css/custom.css">
    
    

    <title>Author - Blogs | Kritical Health App</title>

<!-- <script>tinymce.init({ selector:'textarea' });</script> -->

  </head>

   <body class="blog-author bodycss">

        <div class="content defaultHeight" >
            <div class="container-fluid"  ng-controller="BlogAuthorController as blogAuthorController" >
                <div class="row">
                    <div class="col-md-8 col-sm-7">
                        <div class="ad-card" >
                            <div class="cd-wrap-mini" style="padding: 17px 4%;">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="blog-main-userimg">
                                            <img ng-src="{{globals.currentUser.profilePicture_70_70}}" class="img-circle img-responsive"  />
                                        </div>
                                        <div class="blog-main-name">
                                            <a href="{{globals.currentUser.username}}"><h3 class="popz"> {{globals.currentUser.firstName}} {{globals.currentUser.lastName}}</h3></a>
                                            <span class="text-aqua">  {{globals.currentUser.title}}</span>
                                        </div>
                                          <div class="">
                                            <button class="btn pull-right ease btn-follow" ng-click=" blogAuthorController.logout()">Logout</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                        
		                        <div class="ad-card" ng-repeat="blogAuthors in blogAuthorController.blogAuthors">
		                            <div class="cd-wrap-mini" style="padding: 17px 4%;">
		                                <div class="row">
		                                    <div class="col-xs-12">
		                                        <div class="blogAuthor-main-name">
		                                            <span class="text-red">{{blogAuthors.postedOn | date:'MMM dd yyyy'}}</span>
		                                        </div>
		                             <!--            <a data="{{profileExp.id}}"
										data-ng-click="profileEdit(profileExp.id)" class="pointer" 
										style="cursor: pointer"> <img
										src="img/kh_icons/g-pencil.png" ng-show="{{edit}}"/>
									</a> -->
												<div class="pull-right fl-right " ng-show="globals.currentUser.id==blogAuthors.userId">
													<div class="dropdown pull-right" ng-show="globals.currentUser.id">
																			    <button class="btn btn-sm btn-info btn-aqua dropdown-toggle" type="button" data-toggle="dropdown">
																			    <span class="caret"></span></button>
																			    <ul class="dropdown-menu dropdown-menu-right">
																			    	<li><a class="cursor-pointer" href="/kriticalhealthblogs/blog-edit/{{blogAuthors.id}}" data="{{blogAuthors.id}}">Edit</a></li>
																			      		<li class="divider"></li>
																			      	<li><a class="cursor-pointer" data-ng-click="blogAuthorController.deleteBlogAuthor(blogAuthors.id,$index)">Delete</a></li>
																			    </ul>
																			  </div>
												</div>
		                                    </div>
		                                </div>
		                                <div class="spacer10"></div>
		                                <div class="row blog-maincontent">
		                                    <div class="col-xs-12 mob-act-cont">
		                                    <h1 class="resizeh1"><a class="blogAuthor-title" href="blog-inner/{{blogAuthors.id}}">{{blogAuthors.title}}</a></h1>
		                                         <div class="blg-img">
		                                            <img ng-src="{{blogAuthors.imageUrl}}" class="img-responsive full-width zoommode"/>
		                                        </div> 
		                                        
		                                        <p class="blog-highlight" ng-bind-html="blogAuthors.content | limitTo: 500 | unsafe  "></p>
		                                        <a href="blog-inner/{{blogAuthors.id}}" class="text-aqua">Read more..</a>
		                                    </div>
		                                </div>
		                            </div>
		                            
		                        </div>
		                        <div class="spacer20"></div>
		                            <div class="spacer10"></div>
                        </div>
            <!--             <div class="ad-card">
                            <div class="cd-wrap-mini" style="padding: 17px 4%;">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="blogAuthor-main-name">
                                            <span class="text-red">April 26, 2016</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="spacer10"></div>
                                <div class="row blogAuthor-maincontent">
                                    <div class="col-xs-12 mob-act-cont">
                                        <div class="blg-img">
                                            <img src="img/blogAuthor/blogAuthor1.jpg" class="img-responsive full-width zoommode"/>
                                        </div>
                                        <h1 class="resizeh1"><a class="blogAuthor-title" href="blogAuthor-inner.html">Toward a New Co-production of Care</a></h1>
                                        <p class="blogAuthor-highlight">How does the interaction of formal and informal care shape reform of long-term care funding?. I didn’t think about hearing ‘no’...I just went for it.</p>
                                        <a href="blogAuthor-inner.html" class="text-aqua">Read more..</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ad-card">
                            <div class="cd-wrap-mini" style="padding: 17px 4%;">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="blogAuthor-main-name">
                                            <span class="text-red">April 10, 2016</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="spacer10"></div>
                                <div class="row blogAuthor-maincontent">
                                    <div class="col-xs-12 mob-act-cont">
                                        <div class="blg-img">
                                            <img src="img/blogAuthor/blogAuthor7.jpg" class="img-responsive full-width zoommode"/>
                                        </div>
                                        <h1 class="resizeh1"><a class="blogAuthor-title" href="blogAuthor-inner.html">One connection launched a young woman's career in technology</a></h1>
                                        <p class="blogAuthor-highlight">I was driven to network, find people who could help me, tell them what I wanted to do. I didn’t think about hearing ‘no’...I just went for it.</p>
                                        <a href="blogAuthor-inner.html" class="text-aqua">Read more..</a>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                    </div>
                    <div class="col-md-4 col-sm-5" >
                    <div class="ad-card" ng-show="{{createblog}}">
                            <div class="cd-wrap-right">
                                <h3>Post Blog</h3>
                                <div class="row" >
                                    <div class="col-sm-12">
  										<a href="blog-create" class="btn btn-follow margintb0">Post Blog</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="ad-card" blogAuthorController.recentBlogs.length==0>
                            <div class="cd-wrap-right">
                                <h3>Recent Posts</h3>
                                <div class="spacer10"></div>
                                <p class="bottom-line"></p>
                                <div class="spacer10"></div>
                                
                                <div ng-repeat="recentBlog in blogAuthorController.recentBlogAuthors">
                                <div class="row">
                                
                                    <div class="col-xs-3 text-center">
                                         <a href="{{globals.currentUser.username}}"><img ng-src={{recentBlog.picture}} class="img-circle img-responsive"/></a>
                                    </div>
                                    <div class="col-xs-9 nopadding">
                                        <h3 class="blogAuthor-side-title"><a href="blog-inner/{{recentBlog.id}}">{{recentBlog.title}}</a></h3>
                                        <p>{{recentBlog.name}}</p>
                                    </div>
                                </div>
                                <div class="spacer10"></div>
                                <p class="bottom-line"></p>
                                <div class="spacer10"></div>
                                </div>
                               
                                <!-- <div class="row">
                                    <div class="col-xs-3 text-center">
                                        <a href="profile.html"><img src="img/kh_icons/pbig2.png"/></a>
                                    </div>
                                    <div class="col-xs-9 nopadding">
                                        <h3 class="blogAuthor-side-title"><a href="blogAuthor-inner.html">The real debate on care funding reform is still to come</a></h3>
                                        <p>Jyoti Singh</p>
                                    </div>
                                </div>
                                <div class="spacer10"></div>
                                <p class="bottom-line"></p>
                                <div class="spacer10"></div>
                                <div class="row">
                                    <div class="col-xs-3 text-center">
                                        <a href="profile.html"><img src="img/kh_icons/pbig3.png"/></a>
                                    </div>
                                    <div class="col-xs-9 nopadding">
                                        <h3 class="blogAuthor-side-title"><a href="blogAuthor-inner.html">Medical translation Service.</a></h3>
                                        <p>Sunil Khanna</p>
                                    </div>
                                </div>
                               -->  <div class="spacer10"></div>
                            </div>
                        </div>
                        <!-- <div class="ad-card">
                            <div class="cd-wrap-right">
                                <h3>Popular Posts</h3>
                                <div class="spacer10"></div>
                                <p class="bottom-line"></p>
                                <div class="spacer10"></div>
                                <div class="row">
                                    <div class="col-xs-3 text-center">
                                        <a href="profile.html"><img src="img/kh_icons/pbig2.png"/></a>
                                    </div>
                                    <div class="col-xs-9 nopadding">
                                        <h3 class="blogAuthor-side-title"><a href="blogAuthor-inner.html">The real debate on care funding reform is still to come</a></h3>
                                        <p>Jyoti Singh</p>
                                    </div>
                                </div>
                                <div class="spacer10"></div>
                                <p class="bottom-line"></p>
                                <div class="spacer10"></div>
                                <div class="row">
                                    <div class="col-xs-3 text-center">
                                         <a href="profile.html"><img src="img/kh_icons/pbig1.png"/></a>
                                    </div>
                                    <div class="col-xs-9 nopadding">
                                        <h3 class="blogAuthor-side-title"><a href="blogAuthor-inner.html">Will this year’s college grads job-hop more than previous grads?</a></h3>
                                        <p>Rakesh Sharma</p>
                                    </div>
                                </div>
                                <div class="spacer10"></div>
                                <p class="bottom-line"></p>
                                <div class="spacer10"></div>
                                <div class="row">
                                    <div class="col-xs-3 text-center">
                                        <a href="profile.html"><img src="img/kh_icons/pbig3.png"/></a>
                                    </div>
                                    <div class="col-xs-9 nopadding">
                                        <h3 class="blogAuthor-side-title"><a href="blogAuthor-inner.html">Medical translation Service.</a></h3>
                                        <p>Sunil Khanna</p>
                                    </div>
                                </div>
                                <div class="spacer10"></div>
                            </div>
                        </div> -->

                        <!-- <div class="ad-card">
                            <div class="cd-wrap-right">
                                <h3>Archives</h3>
                                <div class="spacer10"></div>
                                <p class="bottom-line"></p>
                                <div class="spacer10"></div>
                                <div class="row">
                                    <div class="col-xs-12 ">
                                        <h3 class="blogAuthor-side-title"><a href="blogAuthor-inner.html">April 2016</a></h3><div class="spacer10"></div>
                                        <h3 class="blogAuthor-side-title"><a href="blogAuthor-inner.html">March 2016</a></h3><div class="spacer10"></div>
                                        <h3 class="blogAuthor-side-title"><a href="blogAuthor-inner.html">February 2016</a></h3><div class="spacer10"></div>
                                        <h3 class="blogAuthor-side-title"><a href="blogAuthor-inner.html">January 2016</a></h3><div class="spacer10"></div>
                                        <h3 class="blogAuthor-side-title"><a href="blogAuthor-inner.html">December 2015</a></h3>

                                    </div>
                                </div>
                                
                                <div class="spacer10"></div>
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="main-footer full-width">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="index.html"><img src="img/kh_logo_text.png" alt="Kritical" class="img-responsive"></a>
                    </div>
                    <div class="col-sm-6">
                        <p class="nav navbar-nav pull-right">
                            <a class="" href="blogAuthor.html">Recent Posts</a> &nbsp; 
                            <a class="" href="#">Popular Posts</a> &nbsp; 
                            <a class="" href="#">Topics</a> &nbsp; 
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        
                        <p class="text-center">
                            <a class="" href="#">Careers</a> | 
                            <a class="" href="#">About</a> | 
                            <a class="" href="#">Cookie Policy</a> | 
                            <a class="" href="#">Privacy Policy</a> | 
                            <a class="" href="#">User Agreement</a>
                        </p>
                    </div>
                    <div class="col-sm-12 text-center">    
                        <p class="">Kritical Health Corporation © 2016</p>
                    </div>
                </div>
            </div>
        </div> -->
 <script src="js/summernote.js"></script>
<script>
$(document).ready(function() {
    $('#summercontent')
       .summernote({
              height:200,
              fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New']
            })
           .on('summernote.change', function(customEvent, contents) {
                // Revalidate the content when its value is changed by Summernote
            })
            .end();
});
  </script>
    </body></html>