<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body class="blog-author bodycss">



<div class="main-header">
            <section id="header">
                <nav class="navbar navbar-fixed-top kh-navbar">
                  <div class="container"  ng-controller="BlogHeaderController as blogHeaderController">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                      </button>
                      <a  class="navbar-brand" href="/"><img src="img/kh_logo.png" alt="Kritical" class="img-responsive"></a><span class="logo-title"> Official Blog</span>
                      	
                      
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar" style="margin-right:-15px">
                      <ul class="nav navbar-nav nav-blog-right ">
                      <li class="menu"ng-if="globals.currentUser"><a href="blog-author">My Posts
                        <span></span></a></li>
                      
                        <li class="menu"><a class="" href="blog">Recent Posts
                            <span></span></a></li>
                        <li class="menu"><a href="Popular-Blogs">Popular Posts
                        <span></span></a></li>
                        
                        
                       
                        
                      
                          <li class="search-form-cont">
                            <form class="navbar-form "  ng-submit="search()">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    
                                    <a class="dropdown-toggle btn btn-default pad0" data-toggle="dropdown" href="#"><img src="img/top-search-dropdown.png"/></a>

                                </div>
                                <input type="text" class="form-control"  ng-model="blogHeaderController.q" placeholder="Search" name="srch-term" id="srch-term" style="height:25px">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit" style="    padding: 0px;"><img src="img/top-search-icon.png"/></button>
                                </div>
                            </div>
                            </form>
                         </li>
                         
                        <!--  <li><span class="pull-right navbar-brand"><a href="/"><img
						src="img/icon/kh_blog_card.png" alt="Kritical"
						class="img-responsive newLogoSize" style="height: 36px;"></a></span>
						</li> -->
                         <!--<li class="hidden-sm wc-c"><a href="#">Business</a></li>
                         <li class="hidden-sm "><a href="#">Premium</a></li>-->
                         
                        </ul>
                 
                    </div>


                  </div>
                </nav>
                
                	<div id="loginModal" class="modal fade" role="dialog"
		style="height: 100%; background: url(img/texture.png) no-repeat center;"
		ng-cloak>
		<div class="modal-dialog " style="">
			<div>
				<div class="modal-body " style="height: 600px; overflow-y: auto;">
					<button type="button" class="close" data-dismiss="modal">
						<i class="glyphicon glyphicon-remove"></i>
					</button>
					<div>&nbsp;</div>
					<div>&nbsp;</div>
					<div ng-include="'loginSignupModal.html'"></div>

					<!-- <iframe  src="https://localhost:9082/kriticalhealthweb/login" style="width:100%; height:750px;"  frameborder="0" allowfullscreen></iframe> -->
				</div>
			</div>
		</div>
	</div>
                
            </section>
        </div>

</body>
</html>