<!DOCTYPE html>
<html lang="en"  ng-app="app>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Page-Enter" content="revealTrans(Duration=10.0,Transition=1)">
    <!-- Note there is no responsive meta tag here -->

    <link rel="icon" href="img/KH_Symbol.png">

    <title>Blogs | Kritical Health App</title>

  

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>

   <body class="blog-page bodycss">
        <div class="content">
            <div class="container">
            <div  ng-controller="BlogController as blogController">
               <!--  <div class="row">
                    <div class="col-xs-12">
                        <div class="ad-card">
                            <section class="blog-banner" style="background:url('img/blog/blog1.jpg') no-repeat">
                                <div class="blog-banner-text-container">
                                    <div class="blog-banner-text">
                                        <a href="blog-inner.html"><h1>Toward a New Co-production of Care</h1></a>
                                        <p>How does the interaction of formal and informal care shape reform of long-term care funding?</p>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div> -->
                <div >
                <div  infinite-scroll="blogController.loadMore()" infinite-scroll-distance="0">
                <div class="row" >
                
                    <div class="col-sm-4" ng-repeat="blogs in blogController.blogs">
                        <div class="ad-card blog-item">
                          <!--   <a href="blog-inner.html" class="spinAround ease"><img src="img/blog/blog2.png" class="img-responsive full-width ease" alt=""/></a> -->
                            <div class="blog-wrap"     style="min-height: 170px">;
                                <a href="blog-inner/{{blogs.id}}"><h3>{{blogs.title}}</h3></a>
                                <div class="blog-author"><span class="text-red"><a class="text-red" href="blog-author/{{blogs.userId}}">{{blogs.name}}</a></span> | <span class="text-aqua">{{blogs.postedOn | date:'MMM dd yyyy'}}</span></div>
                               <p class="blog-highlight" ng-bind-html="blogs.content | limitTo: 200 | unsafe  "></p>
                            </div>
                        </div>
                    </div>
                    
                   
                    <!-- <div class="col-sm-4">
                        <div class="ad-card blog-item">
                            <a href="blog-inner.html"><img src="img/blog/blog3.png" class="img-responsive full-width" alt=""/></a>
                            <div class="blog-wrap">
                                <a href="blog-inner.html"><h3>A Vision for Adult Social Care Funding</h3></a>
                                <div class="blog-author"><span class="text-red"><a class="text-red" href="blog-author.html">Swathi Jain</a></span> | <span class="text-aqua">March 31, 2016</span></div>
                                <p>The Coalition Government recently published 'A Vision for Adult Social Care: Capable  Communities and Active Citizens'.......</p>
                            </div>
                        </div>
                    </div> -->
                </div>
                
                 <!-- <div class="cd-wrap10">
							<h3 class="text-center" >
									
								<a id="blogsLoadMore" ng-click="blogController.loadMore()"
																						class="btn btn-info btn-skills pointer" style="color:white">Load
																						more</a>
								
							</h3>
						</div> -->
                </div>
                <div ng-if="  blogController.loadingBlogs" class="text-center"><i class="fa fa-spin fa-spinner"></i> Loading...</div>
					</div>
                 </div>
                 <div class="spacer20"></div>
               <!--  <div class="row">
                    <div class="col-sm-8">
                        <div class="ad-card blog-item">
                            <div class="row hz-blog-item">
                                <div class="col-sm-6">
                                    <a href="blog-inner.html"><img src="img/blog/blog5.jpg" class="img-responsive full-width" alt=""/></a>
                                </div>
                                <div class="col-sm-6">
                                    <div class="blog-wrap">
                                        <a href="blog-inner.html"><h3>Health Care Mergers and Acquisitions: A Promising New Environment for Medical Research?</h3></a>
                                        <div class="blog-author"><span class="text-red"><a class="text-red" href="blog-author.html">Ron Jacob</a></span> | <span class="text-aqua">March 31, 2016</span></div>
                                        <p>The changing health care landscape, accelerated by the Affordable Care Act, has signaled a move of the federal government, as well as private insurers, from fee-for-service to value-based reimbursements. </p>
                                        <p>To ramp up for this change, academic health centers are creating larger, integrated care delivery systems through mergers and acquisitions of hospitals, physician practices, and potentially of digital health companies......</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="ad-card blog-item">
                            <a href="blog-inner.html"><img src="img/blog/blog2.png" class="img-responsive full-width" alt=""/></a>
                            <div class="blog-wrap">
                                <a href="blog-inner.html"><h3>A Vision for Adult Social Care Funding</h3></a>
                                <div class="blog-author"><span class="text-red"><a class="text-red" href="blog-author.html">Arthur Nicholls</a></span> | <span class="text-aqua">March 31, 2016</span></div>
                                <p>The Coalition Government recently published 'A Vision for Adult Social Care: Capable  Communities and Active Citizens'.......</p>
                            </div>
                        </div>
                    </div>
                </div> -->
              <!--   <div class="row">
                    <div class="col-sm-12 mgtop15">
                        <button class="btn pull-right ease btn-follow">Archive</button>
                    </div> -->
                </div>
                </div>
                     <div class="spacer20"></div>
            </div>
            
            <div class="col-md-4">
            <div class="spacer20"></div>
				</div>
            
         
 


      <!-- Bootstrap core JavaScript
    ================================================== -->
 
    
    </body></html>