<html lang="en" ng-app="app">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Page-Enter"
	content="revealTrans(Duration=10.0,Transition=1)">
<!-- Note there is no responsive meta tag here -->

<link rel="icon" href="img/KH_Symbol.png">
<link href="src/styles/css/valforma-custom.css?v=2.1" rel="stylesheet">

<title>App Store | Kritical Health App</title>
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
        placement : 'top',
        trigger : 'hover'
    });
});
</script>
<style>
#productMain h4 {
	font-weight: 600;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	font-size: 90%;
}

.dropDownSelectAppDetail {
	width: 70px;
	float: left;
	padding-right: 0px 10px 0px 0px;
}

.selectedAppDetailBtn {
	padding: 10px;
}





</style>
</head>

<body class="blog-author bodycss">


	<div class="content defaultHeight">


		<div class="container" style="background-color: #fff">




			<span ng-controller="MakeCouponController as makeCouponController">

				<!-- view cart item starts  -->
				<div id="content" ng-show="itemList">
					<div class="container ">

						<div class="pull-right" style="margin: 5px;">

							<button type="submit" ng-click="showCartView()"
								class="btn btn-template-main" data-toggle="tooltip"
								title="You Currently have {{itemsForPurchase.length}} item in your Cart">
								<i class="fa fa-shopping-cart fa-2x"></i> Cart <span
									class="badge">{{itemsForPurchase.length}}</span> <i
									class="fa fa-chevron-right"></i>
							</button>
						</div>
						<div class="spacer50"></div>
						<!-- <h3 class="text-muted lead text-left">Following can be some
							detail about our shopping menu</h3>
 -->
						<div class="row products">



							<div class="col-md-3 col-sm-4"
								ng-repeat="(key, appName) in AppName">
								<div class="product" style="cursor: pointer">
									<div class="image">
										<a ng-click="showItemDetail(key)"> <img
											src="{{appName.imageUrl}}" alt=""
											class="img-responsive image1">
										</a>
									</div>
									<!-- /.image -->
									<div class="text">
										<h3>
											<a ng-click="showItemDetail(key)">{{appName.appName}}</a>
										</h3>
										<h3>
											<del ng-if="appName.newprice!=null">₹{{appName.price}}</del>
											<span ng-if="appName.newprice==null">
												₹{{appName.price}} </span> <span ng-if="appName.newprice!=null">
												₹{{appName.newprice}}</span>
											<!-- <div ng-if="appName.newPriceDesc!=null">
											{{appName.newPriceDesc}}</div> -->

										</h3>
										<p class="buttons">
											<a class="btn btn-default" ng-click="showItemDetail()">View
												detail</a> <a class="btn btn-template-main"
												ng-click="showItemDetail()"><i
												class="fa fa-shopping-cart"></i>Add to cart</a>
										</p>
									</div>
									<!-- /.text -->

									<div ng-if="appName.newprice != null" class="ribbon sale">
										<div class="theribbon">SALE</div>
										<div class="ribbon-background"></div>
									</div>
									<!-- /.ribbon -->

									<!-- <div class="ribbon new">
										<div class="theribbon">NEW</div>
										<div class="ribbon-background"></div>
									</div> -->
									<!-- /.ribbon -->
								</div>
								<!-- /.product -->
							</div>
							<!-- view cart items end  -->










							<!-- view app details starts -->
						</div>
						<!-- /.products -->

					</div>
					<!-- /.container -->
				</div>

				<div id="heading-breadcrumbs" ng-show="itemDetail">
					<div class="container">
						<div class="row">

							<div class="col-md-5 pull-right">
								<ul class="breadcrumb">
									<li><a class="btn" ng-click="showItemList()">Back to
											App Store</a></li>

								</ul>

							</div>
						</div>
					</div>


					<div id="content">
						<div class="container">

							<div class="row">

								<div id="content">
									<div class="container">

										<div class="row">

											<div class="col-md-12">



												<div class="row" id="productMain">
													<div class="col-sm-4">
														<div id="mainImage">
															<img ng-src="{{selectedAppName.imageUrl}}" alt=""
																class="img-responsive">
														</div>

														<div ng-if="selectedAppName.newprice != null"
															class="ribbon sale">
															<div class="theribbon">SALE</div>
															<div class="ribbon-background"></div>
														</div>
														<!-- /.ribbon -->
														<!-- 
														<div class="ribbon new">
															<div class="theribbon">NEW</div>
															<div class="ribbon-background"></div>
														</div> -->
														<!-- /.ribbon -->

													</div>
													<div class="col-sm-8">
														<div class="box text-left">
															<div class="col-6">
																<h1 style="margin-top: 0px;">{{selectedAppName.appName}}</h1>
															</div>
															<p class="lead"
																style="text-align: justify; padding-right: 10px;">{{selectedAppName.description}}</p>
															<form>
																<div class="sizes"></div>
																<div class="col-md-12">

																	<h4 ng-if="selectedAppName.newprice!=null">
																		M.R.P. : ₹
																		<del>
																			{{selectedAppName.price*selectedAppName.quantity}} </del>
																	</h4>
																	<span ng-if="selectedAppName.newprice==null">
																		<h4>M.R.P. : ₹
																			{{selectedAppName.price*selectedAppName.quantity}}</h4>
																	</span>
																	<div ng-if="selectedAppName.newprice!=null">
																		<h4 class="" style='color: #B12704;'>Price : ₹
																			{{newPrice | number : 2}}</h4>
																	</div>
																	<div ng-if="selectedAppName.newprice!=null">
																		<h4 class="" style='color: #09B259;'>You save : ₹
																			{{youSavedPrice | number : 2}}</h4>
																	</div>
																</div>


																<div class="col-md-2">


																	<select name="day"
																		class="wc-form-control text-center dropDownSelectAppDetail width10pc "
																		ng-model="selectedAppName.quantity"
																		ng-change="calcLogicForUserDisplay(selectedAppName)">



																		<option value='1'>1</option>
																		<option value='50'>50</option>
																		<option value='100'>100</option>
																		<option value='200'>200</option>
																		<option value='300'>300</option>
																		<option value='400'>400</option>
																		<option value='500'>500</option>

																	</select>





																	<!-- <input ng-model="selectedAppName.quantity"
																		type="number" value="1" class="form-control" max="99"
																		min="1"> -->
																</div>

																<button type="submit" ng-click="showItemCart()"
																	class="btn btn-template-main selectedAppDetailBtn">
																	<i class="fa fa-shopping-cart"></i> Add to cart
																</button>
																</p>
																<div ng-if="selectedAppName.newPriceDesc!=null">
																	{{selectedAppName.newPriceDesc}}</div>
															</form>

															<!-- google play and appstore image  -->
														</div>

														</br> </br> </br> </br>
														<div class="row" id="thumbs">
															<div class="col-xs-6" ng-show="androidPlatform">
																<a class="thumb"> <img
																	src="img/playstore/googleplay.png" alt=""
																	class="img-responsive">
																</a>
															</div>

															<div class="col-xs-6" ng-show="applePlatform" style=""4px">
																<a class="thumb"> <img
																	src="img/playstore/applestore.png" alt=""
																	class="img-responsive">
																</a>
															</div>

														</div>


													</div>

												</div>







											</div>


										</div>
										<!-- /.row -->

									</div>
									<!-- /.container -->
								</div>
								<!-- /#content -->

							</div>
						</div>
					</div>
				</div>

				<div id="content" ng-show="itemCart">
					<div class="container">

						<div class="row">
							<div class="col-md-5" style="float: right">
								<ul class="breadcrumb">
									<li><a class="btn" ng-click="showItemList()">Back to
											App Store</a></li>
									<!-- 	<li><a class="btn" ng-click="showItemDetail()">App
											Detail</a></li> -->
								</ul>

							</div>
							<div class="col-md-12">
								<div ng-if="itemsForPurchase.length > 0">
									<h3 class="text-muted lead">You currently have
										{{itemsForPurchase.length}} item in your cart.</h3>
								</div>
								<div ng-if="itemsForPurchase.length == 0" class="text-center">
									<h3>Cart is empty..!! Continue shopping and Add item to
										your cart</h3>
									<div class=" text-center" style="padding: 5px;">
										<button type=button class="btn btn-default"
											ng-click="showItemList()">
											<i class="fa fa-chevron-left"></i> Continue shopping
										</button>
									</div>
								</div>
							</div>


							<div class="col-md-9 clearfix" id="basket"
								ng-if="itemsForPurchase.length > 0">

								<div class="box">

									<form method="post" ng-submit="checkOut()">

										<div class="table-responsive">

											<table class="table">
												<thead>
													<tr>
														<th colspan="2">Product</th>
														<th>Quantity</th>
														<th>Unit price</th>
														<!--  <th>Discount</th> -->
														<th colspan="2">Total</th>
													</tr>
												</thead>
												<tbody>
													<tr
														ng-repeat=" (key,cartItem) in  allAppDetails.appPurchases">
														<td><a href="#"> <img
																ng-src="{{cartItem.imageUrl}}" alt="my app">
														</a></td>
														<td><a href="#">{{cartItem.appName}}</a></td>
														<td>{{cartItem.quantity}}</td>
														<td>{{cartItem.currency}} {{cartItem.price}}</td>
														<!-- <td>INR 0.00</td> -->
														<td data-toggle="tooltip" data-placement="right"
															title=" {{cartItem.calclogic}}">{{cartItem.amount |
															number : 2}}</td>
														<td><a href="#"
															ng-click="deleteFromItemsForPurchase(key)"><i
																class="fa fa-trash-o"></i></a></td>
													</tr>

												</tbody>
												<tfoot>
													<tr>
														<th colspan="5">Total</th>
														<th colspan="2">{{allAppDetails.currency}}
															{{allAppDetails.totalAmount | number : 2 }}</th>
													</tr>
												</tfoot>
											</table>
											<div class="checkbox checkbox-info checkbox-circle">
												<input ng-model="checked" id="checkbox8" type="checkbox">
												<label for="checkbox8" > Agree to terms
													and condition before payment </label>
													<p><a href="" ng-click="openModal()"> Click to read terms and condition</a>
											</p></div>
											<!-- <div>
												<label class="switch"> <input type="checkbox">
													<div class="slider round">I accept Teams and
														Condition
														</div>
												</label>
											</div> -->
										</div>
										<!-- /.table-responsive -->

										<div class="box-footer">
											<div class="pull-left" style="padding: 5px;">
												<button type=button class="btn btn-default"
													ng-click="showItemList()">
													<i class="fa fa-chevron-left"></i> Continue shopping
												</button>
											</div>
											<div class="pull-right">

												<button data-toggle="tooltip" title=""
													ng-disabled="!checked" type="submit"
													class="btn btn-template-main">
													Proceed to checkout <i class="fa fa-chevron-right"></i>
												</button>
											</div>
										</div>

									</form>

								</div>
								<!-- /.box -->



							</div>
							<!-- /.col-md-9 -->

							<div class="col-md-3">
								<div class="box " id="order-summary"
									ng-if="itemsForPurchase.length > 0">
									<div class="box-header">
										<h3>Order summary</h3>
									</div>
									<p class="text-muted"></p>

									<div class="table-responsive">
										<table class="table">
											<tbody>
												<tr>
													<td>Order subtotal</td>
													<th>INR {{allAppDetails.totalAmount}}</th>
												</tr>


												<tr class="total">
													<td>Total</td>
													<th>INR {{allAppDetails.totalAmount}}</th>
												</tr>
											</tbody>
										</table>

									</div>

								</div>




							</div>
							<!-- /.col-md-3 -->

						</div>

					</div>
					<!-- /.container -->

					<div class="spacer10"></div>
					<div class="spacer10"></div>
				</div>
			</span>
		</div>
	</div>
	<div id="termsModel" class="modal fade con-messagebox" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Terms and Conditions</h4>
				</div>
				<div class="modal-body">
					<div class="ad-card " style="padding:10px;">
						<h4 style=" text-align: justify;;">Thanks for showing interest in KriticalHealth
						products/apps.</h4></br> <h4>When you place an order to purchase a
						product(s)/app(s) from us, you will receive an e-mail confirming
						receipt of your order and containing the details of your order
						(Order Confirmation E-mail). The Order Confirmation E-mail is
						acknowledgement that we have received your order, and does not
						confirm acceptance of your offer to buy the product(s)/app(s)
						ordered. We only accept your offer, and conclude the contract of
						sale for a product/app ordered by you, when the product is
						dispatched/app is downloaded to you and an e-mail confirmation is
						sent to you that the product has been dispatched//app has been
						downloaded (Dispatch Confirmation E-mail).</h4>
						</br><p> Regards
						</br>
						Kritical Health 
						</br>
						</br>
						For any query contact us at: <a>Admin@kriticalhealth.com</a></p>
						</div>
				</div>
			</div>
			</div>
			</div>
			

			<!-- Bootstrap core JavaScript
    ================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->
			<!--  <script src="js/jquery.min.js"></script>-->
			<!-- <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>-->
			<!--  <script src="js/bootstrap.min.js"></script>-->
			<!-- SCRIPTS -->

			<script src="js/bootbox.js"></script>

			<style type="text/css">
.bs-example {
	margin: 150px 50px;
}
</style>
			<!-- <script src="js/customjs.js"></script> -->
</body>
</html>