
	<div class="main-footer full-width">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<a href="#"><img src="img/kh_logo.png" alt="Kritical"
						class="img-responsive"></a>
				</div>
				<div class="col-sm-6">
					<p class="nav navbar-nav pull-right">
						<a class="" >About</a> &nbsp; <a class="" href="network">Networks</a>
						&nbsp; <a class="" href="groups-my">Groups</a> &nbsp; <a
							class="" href="blog-author">Blogs</a> &nbsp;
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">

					<p class="text-center">
						<a class="" >Careers</a> | <a class="" href="#">About</a>
						| <a class="" >Cookie Policy</a> | <a class="" >Privacy
							Policy</a> | <a class="" >User Agreement</a> | <a class="" href="suggestion" >Suggestion</a>
					</p>
				</div>
				<div class="col-sm-12 text-center">
					<p class="">Kritical Health Corporation © 2016</p>
				</div>
			</div>
		</div>
	</div>
