<html lang="en" ng-app="app">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Page-Enter"
	content="revealTrans(Duration=10.0,Transition=1)">
<!-- Note there is no responsive meta tag here -->

<link rel="icon" href="img/KH_Symbol.png">

<title>Forgot Password | Kritical Health App</title>

<!-- Bootstrap core CSS -->
<!--  <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet prefetch" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    Custom styles for this template
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">
    <link href="css/style-tab.css" rel="stylesheet">

     <link href="css/save-tab.css" rel="stylesheet">
     <link href="css/save.css" rel="stylesheet"> -->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body id="startpage">
	<div class="container header">
		<div class="text-center">
			<a href=""><img src="img/logo.png" alt="LinkedIn"
				class="img-responsive logo text-left"></a>
		</div>
	</div>


	<div class="container contentx">
		<div class="save-textureq">
			<div class="save-container" style="height: 413px">
				<div class="save-form-container">
					<ul class="save-tab-group">
						<li class="save-tab active"><a>Forgot Password</a></li>

					</ul>

					<div class="save-form-wrapper">
						<div class="tab-content">
							<div id="save"
								ng-controller="ForgotPasswordController as forgotPasswordController">

								<h3 class="text-left"></h3>
								<div class="alerts-box"></div>
								<h3>Let’s find your account</h3>
								<p>Enter the email address associated with your account.</p>
								<div class="spacer20"></div>
								<form class="" name="form"
									ng-submit="forgotPasswordController.forgotPasswordRequest()"
									method="POST" novalidate="" role="form">
									<div class="save-content">
										<div
											ng-class="{ 'alert': flash,  'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }"
											ng-if="flash" ng-bind="flash.message"></div>
										<div class="container-box" style="padding-left: 0px">
											<div class="inp">

												<div class="inputbox"
													ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
													<input ng-model="emailOrMobile" class="save-inputs"
														name="email" id="email" type="text"
														placeholder="Enter Email Address Or Mobile Number "
														value="" autofocus="&quot;autofocus&quot;/"> <span
														class="bar"></span> <span
														ng-show="form.email.$dirty && form.email.$error.required"
														class="help-block">Email or Mobile is required</span>
												</div>
												<!-- <div class="col-sm-12">
													<div
														style="width: 100%; height: 12px; border-bottom: 1px solid #b9c3d0; text-align: center">
														<span
															style="font-size: 18px; background-color: #ebf1f5; padding: 0 10px; color: #b9c3d0;">
															Or </span>
													</div>
												</div> -->
												<div class="inputbox" ng-show="otpInputButton"
													ng-class="{ 'has-error': form.otp.$dirty && form.otp.$error.required }">
													<input ng-model="forgotPasswordController.forgotPassword.oneTimeKey"
														class="save-inputs" name="otp" id="otp" type="text"
														placeholder="Enter One Time Password " n value=""
														autofocus="&quot;autofocus&quot;/"> <span
														class="bar"></span> <span
														ng-show="form.otp.$dirty && form.otp.$error.required"
														class="help-block">OTP is required</span>
												</div>
											</div>
											<br>


										</div>
										<div class="row">
											<div class="save-btns text-left">

												
												<button ng-if="otpSuccess && !dataLoading" type="button" ng-click="confirmOTP()"
													class="btn btn-info nomargin btn-info-nomargin">Confirm
													OTP</button>
												<button ng-if="dataLoading" type="submit"
													disabled="disabled"
													class="btn btn-info nomargin btn-info-nomargin">In
													Processing</button>
												<button ng-if="!dataLoading && !otpSuccess  " type="submit"
													class="btn btn-info nomargin btn-info-nomargin">Submit</button>


											</div>

										</div>
									</div>
								</form>


							</div>




							<div class="alerts-box"></div>

							<!--<div class="spacer"></div>-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="container footer">
		<div class="box">

			<p class="text-center">Kritical Health &copy; 2016</p>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->



</body>
</html>