<html lang="en" ng-app="app">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Page-Enter"
	content="revealTrans(Duration=10.0,Transition=1)">
<!-- Note there is no responsive meta tag here -->
<!-- <link href="css/bootstrap.min.css" rel="stylesheet">-->

<link rel="icon" href="img/KH_Symbol.png">


<script type="text/javascript">
	$('#profile-top').on('click', function(e) {
		$("#profile-top-menu").toggle();
	});

	$('#profileClose').on('click', function(e) {
		$("#profile-top-menu").toggle();
	});

	$('.navbar-nav .menu.dropdown').on('click', function(e) {
		if ($(this).hasClass("open")) {
			$(this).removeClass("open");
		} else {
			$(this).addClass("open");
		}
	});
</script>
</head>
<div class="main-header"
	ng-controller="HeaderController as headerController">
	<section id="header" >
		<nav class="navbar navbar-fixed-top kh-navbar">
			<div class="container">
				<a class="navbar-brand" href="activity"><img style="height: 40px"
					src="img/KH_Symbol.png" alt="Kritical" class="img-responsive"></a>
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#myNavbar">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>

				</div>
				<!-- Right-side navigation -->
				<ul class="nav-right pull-right list-inline mgtop20 top-khnav">
																				<li class="dropdown nav-profile"><a href=""
						class="dropdown-toggle" data-toggle="dropdown"
						ng-click="profilemenu()" aria-expanded="true" id="profile-top">
							<img data-toggle="tooltip"
							title="{{globals.currentUser.firstName}} {{globals.currentUser.lastName}}"
							ng-src="{{globals.currentUser.profilePicture_70_70}}" alt=""
							class="img-circle size-30x30" width="30px" height="30px">
					</a>
						<ul
							class="dropdown-menu animated littleFadeInRight profile-top-menu"
							role="menu" id="profile-top-menu">
							<li><a ng-click="headerController.profileNameToggle()"
								class="cursor-pointer"> <!--  <span class="badge bg-greensea pull-right">86%</span> -->
									<i class="fa fa-user"></i>{{globals.currentUser.firstName}}
									{{globals.currentUser.lastName}}
							</a></li>

							
						
							<li class="divider"></li>
							<!--  <li>
                                            <a href="index.html">
                                                <i class="fa fa-lock"></i>Lock
                                            </a>
                                        </li> -->
							<li><a ng-click="headerController.logout()"
								class="cursor-pointer"> <i class="fa fa-sign-out"></i>Logout
							</a></li>

						</ul></li>

				</ul>
				<!-- Right-side navigation end -->
				<div class="clearfix visible-xs"></div>

				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav nav-left ">
			
						
							<li class="menu"><a href="download-app" ng-click="appStoreUrlReload()"  data-toggle="tab">Pick n' Pay<span></span></a></li>
							<li class="menu" ><a href="view-app" data-toggle="tab">My Order<span></span></a></li>
				
					
							<ul class="dropdown-menu">
						
							</ul>
						</li>
							
						<!--<li class="hidden-sm wc-c"><a href="#">Business</a></li>
                         <li class="hidden-sm "><a href="#">Premium</a></li>-->

					</ul>

				</div>


			</div>
		</nav>
	</section>







	





</div>


</html>
