<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<title>Kritical Health | Ecosystem for players in Healthcare
	Industry.</title>

<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">


<!-- CSS Global Compulsory -->

<link rel="stylesheet" href="assets/assets/css/style.css">


<!-- CSS Implementing Plugins -->
<link rel="stylesheet" href="assets/assets/plugins/animate.css">
<link rel="stylesheet"
	href="assets/assets/plugins/image-hover/css/img-hover.css">


<!-- CSS Customization -->
<link rel="stylesheet" href="assets/assets/css/custom.css">
<style>
#imaginary_container {
	margin-top: 20%; /* Don't copy this */
}

.stylish-input-group .input-group-addon {
	background: white !important;
}

.stylish-input-group .form-control {
	border-right: 0;
	box-shadow: 0 0 0;
	border-color: #ccc;
}

.stylish-input-group button {
	border: 0;
	background: transparent;
}

.pinkText {
	color: #ED4169 !important;
}

.blueText {
	color: #20cad5 !important;
}

.circle {
	height: 130px;
	width: 130px;
	line-height: 160px;
	-moz-border-radius: 30px; /* or 50% */
	border-radius: 30px; /* or 50% */
	background-color: #fff;
}

.carouselmage {
	width: 100px;
	height: 100px;
	padding: 0px;
	vertical-align: middle;
}

.caption {
	text-align: center;
}

.buttonColor {
	background-color: #20cad5;
	color: initial;
	color: #f8f8f8;
	font-weight: bold;
}

.buttonColor:hover {
	background-color: #20cad5;
	color: initial;
	color: #fff;
	font-weight: bold;
}

.aboutKhSection {
	padding: 100px 100px;
}

.aboutKhSectionInner .aboutKhSectionSign {
	padding: 10px 0px;
	font-family: "Open Sans";
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.aboutKhSectionText {
	font-family: "Open Sans";
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0px 10px 0px;
	font-weight: bold;
	font-size: 90%;
}

@media only screen and (max-width: 800px) {
	.aboutKhSectionText {
		font-family: "Open Sans";
		text-transform: uppercase;
		text-align: center;
		padding: 20px 0px 10px 0px;
		font-weight: bold;
		font-size: 90%;
	}
	.aboutKhSectionImage {
		max-width: 50%;
	}
}

.aboutKhSectionImage {
	max-width: 50%;
}

@media only screen and (max-width: 500px) {
	.aboutKhSectionText {
		font-family: "Open Sans";
		text-transform: uppercase;
		text-align: center;
		padding: 20px 0px 10px 0px;
		font-weight: bold;
		font-size: 60%;
	}
	.aboutKhSectionImage {
		max-width: 130%;
	}
	.aboutKhSectionSign {
		font-size: 80%;
	}
}

.aboutKhSection {
	padding-left: 50px;
}

.parallaxEffect {
	position: relative;
}

.aboutKhSectionInner {
	padding: 0px;
}

.bounce {
	height: 100%;
	width: 100%;
	position: relative;
	-webkit-animation: mymove 1.5s;
	/
	Safari
	4.0
	-
	8.0
	/
	animation
	:
	mymove
	1.5s;
}

/
Safari 4.0 - 8.0 /
 @-webkit-keyframes mymove {
	from {bottom: -200px;
}

to {
	bottom: 0px;
}

}
@
keyframes mymove {
	from {bottom: -200px;
}

to {
	bottom: 0px;
}

}
.homePageIconImage {
	width: 180px;
	height: 180px;
	padding: 0px;
	vertical-align: middle;
}
</style>

</head>

<body>
	<div class="wrapper" ng-controller="HomeController as homeController">
		<!--=== Header ===-->


		<div style="color: #fff"
			class="promo-bg-pattern-v1-light promo-bg-fixed content-xlg parallaxBg height-500">
			<div class="container text-center " data-start="opacity: 1;"
				data-320="opacity: 0;">

				<div class="margin-bottom-20 ">
					<a class=" animated fadeInUp wow cbp-lightbox"
						data-wow-duration="2s" data-wow-delay=".5s"
						data-title="Video Presentation"> <img class="circle"
						src="img/icon/kh_blog_icon.png">
					</a>

				</div>



				<h2
					class="promo-text-v2 color-darker animated fadeInUp wow margin-bottom-20"
					data-wow-duration="1.5s" data-wow-delay="1s">
					Kritical<br> Blogs
				</h2>
				<span
					class="promo-text-v1 color-dark margin-bottom-10 animated fadeInUp wow"
					data-wow-duration="1.5s" data-wow-delay="1.5s"
					style="color: #ED4169; font-weight: normal;">Voice of Health Care
					</span>
				<div class="container">
					<div class="row">
						<form name="form" ng-submit="search()">
						 	<div class="col-sm-3 md-margin-bottom-10">

							
							</div> 
							<div class="col-sm-6 md-margin-bottom-10">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="fa fa-search"></i></span><input type="text" ng-model="homeController.q"
										placeholder="Search Blogs"
										class="form-control">
									
										
									
								</div>

							</div>

							<!-- <div class="col-sm-2">
							<input type="checkbox" ng-model="onlyKhJob" class="btn-u btn-block btn-u-dark">
							Only posted on kh
						</div> -->
							<div class="col-sm-2">
								<button type="submit" class="btn-u btn-block btn-u-dark">
									Search Blogs</button>
							</div>
						</form>
					</div>
				</div>

			</div>

		</div>

	<!-- 	<div class="container-fluid content">
			=== Content Part ===
			<div class="container content">
				Begin Service Block
				<div class="row margin-bottom-40">
				<div class="col-md-4 col-sm-6">
					<div class="service-block service-block-sea service-or">
						<div class="service-bg"></div>
						<i
							class="icon-custom icon-color-light rounded-x icon-line icon-notebook"></i>
						<h2 class="heading-md">Company Profiles</h2>
						<p>Donec id elit non mi porta gravida at eget metus id elit mi
							egetine. Fusce dapibus</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="service-block service-block-red service-or">
						<div class="service-bg"></div>
						<i
							class="icon-custom icon-color-light rounded-x icon-line icon-users"></i>
						<h2 class="heading-md">Meet The Team</h2>
						<p>Donec id elit non mi porta gravida at eget metus id elit mi
							egetine usce dapibus elit nondapibus</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="service-block service-block-blue service-or">
						<div class="service-bg"></div>
						<i
							class="icon-custom icon-color-light rounded-x icon-line icon-rocket"></i>
						<h2 class="heading-md">Be a Leader</h2>
						<p>Donec id elit non mi porta gravida at eget metus id elit mi
							egetine. Fusce dapibus</p>
					</div>
				</div>
			</div>
				End Begin Service Block

				Job Content
				<div class="row job-content">
					<div class="col-md-3 col-sm-6 md-margin-bottom-40">
						<h3 class="heading-md">
							<strong>Accounting &amp; Finance</strong>
						</h3>
						<ul class="list-unstyled categories">
							<li><a href="#">Accounting</a> <small class="hex">(342
									jobs)</small></li>
							<li><a href="#">Admin &amp; Clerical</a> <small class="hex">(143
									jobs)</small></li>
							<li><a href="#">Banking &amp; Finance</a> <small class="hex">(66
									jobs)</small></li>
							<li><a href="#">Contract &amp; Freelance</a> <small
								class="hex">(12 jobs)</small></li>
							<li><a href="#">Business Development</a> <small class="hex">(212
									jobs)</small></li>
							<li><a href="#">Government Accounting</a> <small class="hex">(135
									jobs)</small></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 md-margin-bottom-40">
						<h3 class="heading-md">
							<strong>Medicla &amp; Health</strong>
						</h3>
						<ul class="list-unstyled categories">
							<li><a href="#">Nurse</a> <small class="hex">(546
									jobs)</small></li>
							<li><a href="#">Health Care</a> <small class="hex">(82
									jobs)</small></li>
							<li><a href="#">General Labor</a> <small class="hex">(11
									jobs)</small></li>
							<li><a href="#">Pharmaceutical</a> <small class="hex">(109
									jobs)</small></li>
							<li><a href="#">Human Resources</a> <small class="hex">(401
									jobs)</small></li>
							<li><a href="#">Cardiovascular Technologist</a> <small
								class="hex">(282 jobs)</small></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 md-margin-bottom-40">
						<h3 class="heading-md">
							<strong>Web Development</strong>
						</h3>
						<ul class="list-unstyled categories">
							<li><a href="#">Ecommerce</a> <small class="hex">(958
									jobs)</small></li>
							<li><a href="#">Web Design</a> <small class="hex">(576
									jobs)</small></li>
							<li><a href="#">Web Programming</a> <small class="hex">(543
									jobs)</small></li>
							<li><a href="#">Other - Web Development</a> <small
								class="hex">(67 jobs)</small></li>
							<li><a href="#">Website Project Management</a> <small
								class="hex">(45 jobs)</small></li>
							<li><a href="#">App &amp; Icon Design</a> <small class="hex">(439
									jobs)</small></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6">
						<h3 class="heading-md">
							<strong>Sales &amp; Marketing</strong>
						</h3>
						<ul class="list-unstyled categories">
							<li><a href="#">Advertising</a> <small class="hex">(123
									jobs)</small></li>
							<li><a href="#">Email Marketing</a> <small class="hex">(544
									jobs)</small></li>
							<li><a href="#">Telemarketing &amp; Telesales</a> <small
								class="hex">(564 jobs)</small></li>
							<li><a href="#">Market Research &amp; Surveys</a> <small
								class="hex">(345 jobs)</small></li>
							<li><a href="#">SEM - Search Engine Marketing</a> <small
								class="hex">(32 jobs)</small></li>
							<li><a href="#">Analysis &amp; Consulting</a> <small
								class="hex">(163 jobs)</small></li>
						</ul>
					</div>
				</div>
				End Job Content
			</div>

		</div> -->

		<!-- <div class="bg-grey">
			<div class="container content-md">
				<ul class="row list-row margin-bottom-30">
					<li class="col-md-4 md-margin-bottom-30">
						<div class="content-boxes-v2 text-center block-grid-v1 rounded">
							<i class="icon-custom rounded-x icon-bg-yellow fa fa-diamond"></i>
							<div class="content-boxes-in-v3">
								<ul class="star-vote">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star-half-o"></i></li>
									<li><i class="fa fa-star-o"></i></li>
									<li><i class="fa fa-star-o"></i></li>
								</ul>
								<h3>
									<a href="#">Forbes 1000</a>
								</h3>
								<ul class="list-inline margin-bottom-5">
									<li>By <a class="color-green" href="#">Edward Rooster</a></li>
									<li><i class="fa fa-clock-o"></i> Oct 07, 2014</li>
								</ul>
								<p>At vero eos et accusamus et iusto odio dignissimos
									ducimus qui blanditiis praesentium...</p>
								<ul class="list-inline block-grid-v1-add-info">
									<li><a href="#"><i class="fa fa-eye"></i> 34039</a></li>
									<li><a href="#"><i class="fa fa-retweet"></i> 451</a></li>
									<li><a href="#"><i class="fa fa-download"></i> 10842</a></li>
									<li><a href="#"><i class="fa fa-heart"></i> 863</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="content-boxes-v2 text-center block-grid-v1 rounded">
							<i
								class="icon-custom rounded-x icon-bg-dark fa fa-connectdevelop"></i>
							<div class="content-boxes-in-v3">
								<ul class="star-vote">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star-half-o"></i></li>
									<li><i class="fa fa-star-o"></i></li>
								</ul>
								<h3>
									<a href="#">Web Programming</a>
								</h3>
								<ul class="list-inline margin-bottom-5">
									<li>By <a class="color-green" href="#">Edward Rooster</a></li>
									<li><i class="fa fa-clock-o"></i> Jan 02, 2013</li>
								</ul>
								<p>At vero eos et accusamus et iusto odio dignissimos
									ducimus qui blanditiis praesentium...</p>
								<ul class="list-inline block-grid-v1-add-info">
									<li><a href="#"><i class="fa fa-eye"></i> 34039</a></li>
									<li><a href="#"><i class="fa fa-retweet"></i> 451</a></li>
									<li><a href="#"><i class="fa fa-download"></i> 10842</a></li>
									<li><a href="#"><i class="fa fa-heart"></i> 863</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="col-md-4 md-margin-bottom-30">
						<div class="content-boxes-v2 text-center block-grid-v1 rounded">
							<i class="icon-custom rounded-x icon-bg-red fa fa-line-chart"></i>
							<div class="content-boxes-in-v3">
								<ul class="star-vote">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star-half-o"></i></li>
								</ul>
								<h3>
									<a href="#">Business &amp; Finance</a>
								</h3>
								<ul class="list-inline margin-bottom-5">
									<li>By <a class="color-green" href="#">The Economist</a></li>
									<li><i class="fa fa-clock-o"></i> Oct 02, 2014</li>
								</ul>
								<p>At vero eos et accusamus et iusto odio dignissimos
									ducimus qui blanditiis praesentium...</p>
								<ul class="list-inline block-grid-v1-add-info">
									<li><a href="#"><i class="fa fa-eye"></i> 4258</a></li>
									<li><a href="#"><i class="fa fa-retweet"></i> 382</a></li>
									<li><a href="#"><i class="fa fa-download"></i> 2938</a></li>
									<li><a href="#"><i class="fa fa-heart"></i> 230</a></li>
								</ul>
							</div>
						</div>
					</li>
				</ul>

				<ul class="row list-row">
					<li class="col-md-4 md-margin-bottom-30">
						<div class="content-boxes-v2 text-center block-grid-v1 rounded">
							<i class="icon-custom rounded-x icon-bg-blue fa fa-twitter"></i>
							<div class="content-boxes-in-v3">
								<ul class="star-vote">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star-o"></i></li>
								</ul>
								<h3>
									<a href="#">Social Network</a>
								</h3>
								<ul class="list-inline margin-bottom-5">
									<li>By <a class="color-green" href="#">Twitter Inc.</a></li>
									<li><i class="fa fa-clock-o"></i> Jan 02, 2013</li>
								</ul>
								<p>At vero eos et accusamus et iusto odio dignissimos
									ducimus qui blanditiis praesentium...</p>
								<ul class="list-inline block-grid-v1-add-info">
									<li><a href="#"><i class="fa fa-eye"></i> 25232</a></li>
									<li><a href="#"><i class="fa fa-retweet"></i> 543</a></li>
									<li><a href="#"><i class="fa fa-download"></i> 6782</a></li>
									<li><a href="#"><i class="fa fa-heart"></i> 943</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="col-md-4 md-margin-bottom-30">
						<div class="content-boxes-v2 text-center block-grid-v1 rounded">
							<i
								class="icon-custom rounded-x icon-bg-orange fa fa-paper-plane-o"></i>
							<div class="content-boxes-in-v3">
								<ul class="star-vote">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star-half-o"></i></li>
									<li><i class="fa fa-star-o"></i></li>
								</ul>
								<h3>
									<a href="#">Education/Travel</a>
								</h3>
								<ul class="list-inline margin-bottom-5">
									<li>By <a class="color-green" href="#">Stanford
											University</a></li>
									<li><i class="fa fa-clock-o"></i> Jan 02, 2013</li>
								</ul>
								<p>At vero eos et accusamus et iusto odio dignissimos
									ducimus qui blanditiis praesentium...</p>
								<ul class="list-inline block-grid-v1-add-info">
									<li><a href="#"><i class="fa fa-eye"></i> 7653</a></li>
									<li><a href="#"><i class="fa fa-retweet"></i> 342</a></li>
									<li><a href="#"><i class="fa fa-download"></i> 3621</a></li>
									<li><a href="#"><i class="fa fa-heart"></i> 583</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="col-md-4">
						<div class="content-boxes-v2 text-center block-grid-v1 rounded">
							<i class="icon-custom rounded-x icon-bg-purple fa fa-music"></i>
							<div class="content-boxes-in-v3">
								<ul class="star-vote">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star-half-o"></i></li>
								</ul>
								<h3>
									<a href="#">Music/Films</a>
								</h3>
								<ul class="list-inline margin-bottom-5">
									<li>By <a class="color-green" href="#">Sony
											Corporation</a></li>
									<li><i class="fa fa-clock-o"></i> Jan 02, 2013</li>
								</ul>
								<p>At vero eos et accusamus et iusto odio dignissimos
									ducimus qui blanditiis praesentium...</p>
								<ul class="list-inline block-grid-v1-add-info">
									<li><a href="#"><i class="fa fa-eye"></i> 62637</a></li>
									<li><a href="#"><i class="fa fa-retweet"></i> 741</a></li>
									<li><a href="#"><i class="fa fa-download"></i> 21314</a></li>
									<li><a href="#"><i class="fa fa-heart"></i> 1041</a></li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div> -->
		<!-- <div class="container-fluid content">
			<div class="container content job-partners">
				<div class="text-center margin-bottom-50">
					<h2 class="title-v2 title-center">OUR FEATURED PARTNERS</h2>
					<p class="space-lg-hor">
						If you are going to use a <span class="color-green">passage
							of Lorem Ipsum</span>, you need to be sure there isn't anything
						embarrassing hidden in the middle of text. All the Lorem Ipsum
						generators on the Internet tend to repeat predefined chunks as
						necessary, making <span class="color-green">this the first</span>
						true generator on the Internet.
					</p>
				</div>

				<ul class="list-inline our-clients" id="effect-2">
					<li>
						<figure>
							<img src="assets/img/clients2/ea-canada.png" alt="">
							<div class="img-hover">
								<h4>Ea Canada</h4>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="assets/img/clients2/inspiring.png" alt="">
							<div class="img-hover">
								<h4>Inspiring</h4>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="assets/img/clients2/ucweb.png" alt="">
							<div class="img-hover">
								<h4>UcWeb</h4>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="assets/img/clients2/clarks.png" alt="">
							<div class="img-hover">
								<h4>Clarks</h4>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="assets/img/clients2/corepreserves.png" alt="">
							<div class="img-hover">
								<h4>Core Preserves</h4>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="assets/img/clients2/finals.png" alt="">
							<div class="img-hover">
								<h4>USL Champions</h4>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="assets/img/clients2/getaround.png" alt="">
							<div class="img-hover">
								<h4>GetAround</h4>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="assets/img/clients2/baderbrau.png" alt="">
							<div class="img-hover">
								<h4>Baderbrau</h4>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="assets/img/clients2/emirates.png" alt="">
							<div class="img-hover">
								<h4>Emirates</h4>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="assets/img/clients2/fddw.png" alt="">
							<div class="img-hover">
								<h4>Field Days</h4>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="assets/img/clients2/district-karaoke.png" alt="">
							<div class="img-hover">
								<h4>District Karaoke</h4>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="assets/img/clients2/marianos.png" alt="">
							<div class="img-hover">
								<h4>Mariano's</h4>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="assets/img/clients2/grifting-tree.png" alt="">
							<div class="img-hover">
								<h4>The Grifting Tree</h4>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="assets/img/clients2/jaguar.png" alt="">
							<div class="img-hover">
								<h4>Jaguar</h4>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="assets/img/clients2/hermes.png" alt="">
							<div class="img-hover">
								<h4>Hermes</h4>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="assets/img/clients2/starbucks.png" alt="">
							<div class="img-hover">
								<h4>Starbucks</h4>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="assets/img/clients2/national-geographic.png" alt="">
							<div class="img-hover">
								<h4>National Geographic</h4>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="assets/img/clients2/much-more.png" alt="">
							<div class="img-hover">
								<h4>Much More</h4>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="assets/img/clients2/hotiron.png" alt="">
							<div class="img-hover">
								<h4>Hotiron</h4>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="assets/img/clients2/fred-perry.png" alt="">
							<div class="img-hover">
								<h4>Fred Perry</h4>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="assets/img/clients2/bellfield.png" alt="">
							<div class="img-hover">
								<h4>Bellfield</h4>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="assets/img/clients2/getapp.png" alt="">
							<div class="img-hover">
								<h4>GetApp</h4>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="assets/img/clients2/austrian-airlines.png" alt="">
							<div class="img-hover">
								<h4>Austrian Airlines</h4>
							</div>
						</figure>
					</li>
					<li>
						<figure>
							<img src="assets/img/clients2/general-electric.png" alt="">
							<div class="img-hover">
								<h4>General Electronic</h4>
							</div>
						</figure>
					</li>
				</ul>
			</div>
			/container
			=== End Job Partners ===
		</div> -->
	</div>


	<!--/End Wrapepr-->




</body>
</html>