<!DOCTYPE html>
<html lang="en"  ng-app="app"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Page-Enter" content="revealTrans(Duration=10.0,Transition=1)">
    <!-- Note there is no responsive meta tag here -->

    <link rel="icon" href="img/KH_Symbol.png">

    <title>Job Post | Kritical Health App</title>
    
     <!-- Web Fonts -->
	<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700'>


	<link rel="stylesheet" href="assets/css/blog.style.css">

	
	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="assets/plugins/animate.css">
	<link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
	<link rel="stylesheet" href="assets/plugins/fancybox/source/jquery.fancybox.css">
	<link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
	<link rel="stylesheet" href="assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
	<link rel="stylesheet" href="assets/plugins/login-signup-modal-window/css/style.css">

	<!-- CSS Theme -->
	<link rel="stylesheet" href="assets/css/theme-colors/default.css" id="style_color">
	<link rel="stylesheet" href="assets/css/theme-skins/dark.css">

	<!-- CSS Customization -->
	<link rel="stylesheet" href="assets/css/custom.css">
    
    

  </head>

   <body class="job-viewpage bodycss">
       
        <div class="content" style="min-height:780px">
            <div class="container">
                
                <div class="row">
                    <div class="col-md-8">

                        <div class="ad-card" >
                         
                            <div class="cd-wrap-imp" ng-controller="BlogCreateController as blogCreateController">
                          <!--   <h3 class="mgtop2">Post a blog</h3> -->
									<div class="ad-card" >
			                           
			          
		                                    
		                                    <h2 class="title-v4">Post a Blog</h2>
				<form  name="form" ng-submit="blogCreateController.update()"  role="form" id="sky-form3" class="sky-form comment-style-v2">
					
						<div class="row ">
							<div class="col-md-6" ng-class="{ 'has-error': form.title.$dirty && form.title.$error.required }">
								<div>
										
										   <div class="form-group" >
										   		<input ng-model="blogCreateController.blogAuthor.title" class="form-control bg-color-light" name="title" id="title" type="text"
																							placeholder="Title" required="required" value=""
																							autofocus="&quot;autofocus&quot;/"><span
																							class="bar"></span> <span
																							ng-show="form.title.$dirty && form.tile.$error.required"
																							class="help-block">Title is required</span>
																							
                                                                        </div>
										
										
													
																							
																							
																			
																	
																		<!--  <img style="margin-left:20px" id="awardPic" src=""  height="100" /> -->
																	
																					
													
								
								
									<!-- <input type="text" name="name" id="name" placeholder="Name" class="form-control bg-color-light"> -->
								</div>
							</div>
							 <div class="col-md-6">
								<div>
										<input type="file" name="file" id="imgBlog"
																			class="act-file"
																			onChange="angular.element(this).scope().blogOnChange(this)" />
																		<label for="imgBlog" class=" bg-green">UPLOAD
																			PHOTO</label>
																		<div class="col-sm-12">
																			<div id="award-result">

																				<div class="awd2">
																					<img class="thumbnail img-responsive" style= "border: white" id="blogPic" 
																						src="" /><a ng-if="showRemoveSign" href=""
																						ng-click="removeBlogPictureWithId(id)"
																						class="remove_pict">x</a>
																				</div>

																				<!--   <div class="awd2"><img class="thumbnail img-responsive" src="img/thumbb.png" title="Awards"> <a href="#" class="remove_pict">x</a></div> -->
																			</div>
																		</div>
								</div>
							</div> 
						</div>

						<div class="sky-space-30 col-md-12">
							<div>
							<!-- <textarea class="form-control bg-color-light"  class="form-control save-inputs" name="content"  id="summercontent"></textarea> -->  
							<!-- <trix-editor  class="trix-content" ng-model="blogCreateController.blogAuthor.content" angular-trix ></trix-editor> -->
							
							<summernote height="300"  ng-model="blogCreateController.blogAuthor.content" on-image-upload="imageUpload(files)" editable="editable" editor="editor"></summernote>
					
							<!-- 	<textarea rows="8" name="message" id="message" placeholder="Write comment here ..." class="form-control bg-color-light"></textarea> -->
							</div>
						</div>

						<p><!-- <button type="submit" class="btn-u btn-u-default">Submit</button> -->
						
						
						<!--  <button ng-if="blogCreateController.dataLoading==true" type="submit" ng-disabled="true"  data-position-join="right"><span class="btn-u btn-u-default">Submiting</span></button> -->
		                                                <button type="submit" ng-disabled="form.$invalid || blogCreateController.dataLoading" class="btn-u btn-u-default" data-position-join="right"><spans class="fill-v2">Submit</span></button>
						</p>
			

					
				</form>
				<!-- End Form -->
                                    
			                        </div>
		                        </div>
                                
                            </div>

                        </div>
                        
                        <!-- Form -->
				
                        
                        
                        
                   

                </div>
            </div>
        </div>

    
   
<script>
$(document).ready(function() {
    $('#summercontent')
       .summernote({
              height:200
            })
           .on('summernote.change', function(customEvent, contents) {
                // Revalidate the content when its value is changed by Summernote
            })
            .end();
});
  </script>
    </body></html>