
<style>
.navbar-default .navbar-collapse,.navbar-default .navbar-form {
	border-color: #e7e7e7;
	height: 100%;
}

.btnLogin {
	background: none;
	border: solid 1px #20cad5;
	color: #20cad5;
	background-color: #fff;
}

.btnLogin:hover {
	background: none;
	border: solid 1px #ed4169;
	color: #ed4169;
	background-color: #fff;
}


.publicNav ul li {
	padding: 0px 10px;
	text-transform: uppercase;
	font-weight: lighter;
	font-size:80%;
}


.navbar-nav {
	background-color: #fff;
}
</style>







<div class="main-header "
	ng-controller="PublicHeaderController as publicHeaderController">
	<section id="header">
		<nav class="navbar navbar-default navbar-fixed-top  kh-navbar"
			style="background-color: #fff">
			<div class="container">
				<div class="navbar-headers">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#myNavbartog">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
						<a class="navbar-brand" target="_blank"
						href="http://www.kriticalhealth.com"><img
						src="img/kh_logo.png" alt="Kritical" class="img-responsive"></a>

				</div>
				<span class="pull-right navbar-brand"><a href="/"><img
						src="img/icon/kh_blog_card.png" alt="Kritical"
						class="img-responsive newLogoSize" style="height: 36px;"></a></span>
					
					
					
						

					<div
						class="fl-right collapse navbar-brand publicNav navbar-collapse"
						id="myNavbartog" >
						<ul class="nav navbar-nav" style="margin:0px" >
							<li><a href="home">Home</a></li>
							<li><a target="_blank"  href="http://www.kriticalhealth.com/about">about</a></li>
							<li><a target="_blank"  href="http://www.kriticalhealth.com/team">team</a></li>
							<li><a target="_blank"  href="http://www.kriticalhealth.com/pageInDevelopment">career</a></li>
							<li class="dropdown"><a class="dropdown-toggle"
								data-toggle="dropdown" href="">Services <span
									class="text-red">+<span class="caret"></span></span></a>
								<ul class="dropdown-menu">
									<li><a target="_blank"href="http://www.kriticalhealth.com/home#news-section">Kritical News</a></li>
								
									<li><a target="_blank"href="http://www.kriticalhealth.com/home#talent-section">Kritical Global talent</a></li>
									<li><a target="_blank"href="http://www.kriticalhealth.com/home#activities-section">Kritical Activities & Events</a></li>
									
								<!-- 	<li>    <button class="btn btn-medium font-bold"
                socialshare
                socialshare-provider="facebook"
                socialshare-type="sharer"
                socialshare-text="Kritical Health"
                socialshare-url="http://www.kriticalhealth.com"
                socialshare-popup-height="300"
                socialshare-popup-width="400"
                socialshare-trigger="click">
            <i class="fa fa-facebook"></i> Share on Facebook (sharer)
        </button></li> -->
									
								</ul></li>
						</ul>

						<button id="login-signup-btn" role="button"
							ng-click="openSignupModal()" class="btn btnLogin">Login
							/ Sign Up</button>
							
							  <div>
    
    </div>
							
							
							
					</div>
				</div>


			</div>
		</nav>
	</section>


	<div id="loginModal" class="modal fade" role="dialog"
		style="height: 100%; background: url(img/texture.png) no-repeat center;"
		ng-cloak>
		<div class="modal-dialog " style="">
			<div>
				<div class="modal-body " style="height: 600px; overflow-y: auto;">
					<button type="button" class="close" data-dismiss="modal">
						<i class="glyphicon glyphicon-remove"></i>
					</button>
					<div>&nbsp;</div>
					<div>&nbsp;</div>
					<div ng-include="'loginSignupModal.html'"></div>

					<!-- <iframe  src="https://localhost:9082/kriticalhealthweb/login" style="width:100%; height:750px;"  frameborder="0" allowfullscreen></iframe> -->
				</div>
			</div>
		</div>
	</div>
</div>





<script src="https://www.google.com/recaptcha/api.js"></script>
