<html lang="en"  ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Page-Enter" content="revealTrans(Duration=10.0,Transition=1)">
    <!-- Note there is no responsive meta tag here -->

    <link rel="icon" href="img/KH_Symbol.png">

    <title>Forgot Password | Kritical Health App</title>



  </head>

  <body id="startpage">
    <div class="container header">
        <div class="text-center">
            <a href=""><img src="img/logo.png" alt="LinkedIn" class="img-responsive logo text-left"></a>
        </div>
    </div>
   

    <div class="container ">
        <div class="save-texture">
            <div class="save-container">
                <div class="save-form-container">
                        <ul class="save-tab-group">
                            <li class="save-tab active"><a>Reset Password</a></li>
                             
                           
                        </ul>
                       
                        <div class="save-form-wrapper">
                            <div class="tab-content">
                                <div id="save" ng-controller="ResetPasswordController as resetPasswordController" >
                            
                            <br><br>
                              <!-- <h3 id="errText" >Your reset link is invalid please contact Administrator.</h3> -->
                                    <h3 class="text-left"></h3>
                                    <div class="alerts-box"> </div>
                                  <div id="successText"  >
                                    <form  class="" name="form" ng-submit="resetPasswordController.resetPassword()" method="POST" novalidate="" role="form">
                                        <div class="save-content">
                                         <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                                         <!-- <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div> -->
                                            <div id="container" class="container-box" style="padding-left:0px">
                                                <div class="inp">
                                                    
                                                    <div class="inputbox" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }" >
                                                        <input ng-model="resetPasswordController.user.password" class="save-inputs" name="password" id="password" type="password" placeholder="Password" required="required" value="" autofocus="&quot;autofocus&quot;/">
                                                        <span class="bar"></span>
                                                        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                                                    </div>
                                                </div>
                                                 <br>
                                                <div class="inp">
                                                    
                                                    <div class="inputbox" ng-class="{ 'has-error': form.confirmPassword.$dirty && form.confirmPassword.$error.required }" >
                                                        <input ng-model="resetPasswordController.user.confirmPassword" class="save-inputs" name="confirmPassword" id="confirmPassword" type="password" placeholder="Confirm Password" required="required" value="" autofocus="&quot;autofocus&quot;/">
                                                        <span class="bar"></span>
                                                        <span ng-show="form.confirmPassword.$dirty && form.confirmPassword.$error.required" class="help-block">Confirm Password</span>
                                                    </div>
                                                </div>
               
                                            </div>
                                           <div class="row">
                                            <div  ng-show="!isSuccefull" class="  save-btn text-left"  >
                                                <button  type="submit" ng-disabled="form.$invalid || resetPasswordController.dataLoading" class="btn btn-success save-btn" data-position-join="right"><spans class="fill-v2">Submit</span></button>
                                            </div>
                                              <div ng-show="isSuccefull"  class="   save-btn text-right" >
                                                <button   class="btn btn-success save-btn" data-position-join="right" ng-click="redirectToLogin()"><spans class="fill-v2"   >Login</span></button>
                                            </div>
                        
                                            </div>
                                        </div>
                                    </form>
                                    </div>
                                     
                                </div>
                                
                               
                            
                           
                                    <div class="alerts-box"></div>
                                   
                                    <!--<div class="spacer"></div>-->
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="container footer">
        <div class="box">
            
            <p class="text-center">Kritical Health &copy; 2016</p>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
 
  
	
      </body></html>