<html lang="en" ng-app="app">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Page-Enter"
	content="revealTrans(Duration=10.0,Transition=1)">
<!-- Note there is no responsive meta tag here -->

<link rel="icon" href="img/KH_Symbol.png">

<title>Order Status | Kritical Health App</title>

</head>

<body class="networkpage bodycss">

	<div class="content defaultHeight">
		<div id="content">
			<div class="container"
				ng-controller="SuccessController as successController">

				<div uib-alert ng-repeat="edu in alerts.edu"
					ng-class="'alert-' + (edu.type || 'success')"
					ng-show="couponResponseObject.status ==1">{{edu.msg}}</div>

				<div class="col-sm-6 col-sm-offset-3" id="error-page"
					ng-show="!notAllowed">

					<div class="box">

						<div class="text-center">
							<a href=""><img src="img/logo.png" alt="LinkedIn"
								class="img-responsive logo text-left"></a>
						</div>


						<div ng-show="couponResponseObject.status ==2">
							<h3 class="text-center">OOPS..!! Something went wrong..!!</h3>
						</div>
						<div
							ng-show="(couponResponseObject.status == 2) && !couponResponseObject.refresh">

							<button class="btn btn-info nomargin btn-info-nomargin "
								ng-click="repayCoupon()" ng-disabled="buttonStatus">
								<span class="glyphicon glyphicon-repeat"></span> Repay
							</button>

							<button class="btn btn-danger" ng-click="cancelCoupon()"
								ng-disabled="buttonStatus">
								<span class="glyphicon glyphicon-remove"></span> Cancel
							</button>
						</div>


					</div>

					<div ng-show="couponResponseObject.status == 1"
						style="background-color: #ffffff; padding: 5px;"
						class="text-center">
						<div class="row ">
							<div class="col-sm-4">
								<dt>Order ID :</dt>
							</div>
							<div class="col-sm-8">
								<dd>{{couponResponseObject.apppurchases[0].orderId}}</dd>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-4">
								<dt>Payment ID :</dt>
							</div>
							<div class="col-sm-8">
								<dd>{{couponResponseObject.apppurchases[0].paymentId}}</dd>
								</br>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-4">
								<dt>Total Price:</dt>
							</div>
							<div class="col-sm-8">
								<dd>{{couponResponseObject.apppurchases[0].totalAmount}}</dd>
								</br>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-4">
								<dt>Play Store URL:</dt>
							</div>
							<div class="col-sm-8">
							<a href="https://play.google.com/store/apps/details?id=com.focusmedica.healthnjoy">Health N' Joy </a>
								
								</br>
							</div>
						</div>

						</br> </br>
						<button class="btn btn-info nomargin btn-info-nomargin"
							ng-click="sendEmail()">
							<span class="glyphicon glyphicon-envelope"></span> Email
						</button>
						<button class="btn btn-info nomargin btn-info-nomargin "
							ng-click="printFunction()">
							<span class="glyphicon glyphicon-print"></span> Print this page
						</button>
					</div>

				</div>

			</div>
		</div>


	</div>
	<!-- /.col-sm-6 -->
	</div>
	<!-- /.container -->
	</div>





	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!--  <script src="js/jquery.min.js"></script>-->
	<!-- <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>-->
	<!--  <script src="js/bootstrap.min.js"></script>-->
	<!-- SCRIPTS -->

	<script src="js/bootbox.js"></script>

	<!-- <script src="js/customjs.js"></script> -->
</body>
</html>