	
	<div class="">
	<div class="ad-card" style="width:500px; padding:10px; width:50%; margin:0 auto;" >
		<div style="cursor: pointer";>Please Send
			your suggestions</div>
		<div class=""
			ng-controller="BugDetailsController as bugDetailsController">
			<div class="">
				<form role="form" ng-submit="bugDetailsController.sendBug()">
					<span id="specError"></span>
					<p>Please fill out the form for sending suggestions to improve
						our service..</p>
					<div class="form-group">
						<input type="text" class="wc-form-control width100pc" id="name"
							ng-model="bugDetailsController.bugDetail.name"
							placeholder="Name *" required>
					</div>
					<div class="form-group">
						<input type="text" class="wc-form-control width100pc" id="emailId"
							ng-model="bugDetailsController.bugDetail.emailId"
							placeholder="Email *" required>
					</div>
					<div class="form-group">
						<textarea id="suggestion"
							class="wc-form-control width100pc heightauto min-height100"
							ng-model="bugDetailsController.bugDetail.suggestion"
							placeholder="Suggestion Details *"></textarea>
					</div>
					<div class="form-group text-center">
						<button ng-show="bugDetailsController.dataLoading==true"
							type="submit" disabled="disabled"
							class="btn btn-info nomargin btn-info-nomargin">Sending</button>
						<button ng-show="bugDetailsController.dataLoading==false"
							type="submit" class="btn btn-info nomargin btn-info-nomargin">Submit</button>
					</div>
				</form>
			</div>
		</div>
		<div class="chatbox"></div>
	</div>
</div>