<html lang="en" ng-app="app">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 2 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="Page-Enter"
	content="revealTrans(Duration=10.0,Transition=1)">
<!-- Note there is no responsive meta tag here -->

<link rel="icon" href="img/KH_Symbol.png">

<title>View-App | Kritical Health App</title>
<style>
.buttonColorRed {
	background-color: #ED4169;
	color: #fff;
	font-weight: bold;
}

.textColorBlue {
	color: #20cad5;
}

.textColorRed {
	color: #ED4169;
}

.buttonColorBlue {
	background-color: #20cad5;
	color: #fff;
	font-weight: bold;
}
</style>

</head>

<body class="networkpage bodycss">

	<div class="content defaultHeight">

		<div class="container "
			ng-controller="ViewAppController as viewAppController">
			<div uib-alert ng-repeat="edu in alerts.edu"
				ng-class="'alert-' + (edu.type || 'success')"
				ng-show="couponResponseObject.status">{{edu.msg}}</div>

			<div class="content defaultHeight">
				<h2 class="mute">My Orders</h2>
				<div ng-if="purchases.length == 0">
					<div class="row">
						<div class="panel-group">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">You don't have any order history</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			


			<div ng-if="purchases.length > 0" ng-repeat='purchase in purchases '>
				<div class="row">
					<div class="panel-group">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">

									<div>
										<button data-toggle="collapse" data="{{purchase.orderId}}"
											ng-click="loadActiveCoupons(purchase.id, clicked)"
											data-target="#index{{$index}}" type="button"
											class="btn buttonColorBlue btn-md">Order ID:
											#{{purchase.orderId}} &nbsp;&nbsp; Purchase Id:
											#{{purchase.id}}</button>
										<button data-toggle="collapse" data-target="#index{{$index}}"
											type="button" class="btn buttonColorRed pull-right btn-md">Ordered
											On: {{purchase.createdDate|date:'dd-MM-yy'}}</button>
									</div>
									<div class="table-responsive" style="margin: 7px;">
										<div>
											<table class="table table-striped text-left">

												<tbody>
													<tr>

														<td style="width: 450px;">{{purchase.appName}}</td>
														<td style="width: 100px;">{{purchase.quantity}}</td>
														<td>{{purchase.currency}} {{purchase.amount}}</td>
													</tr>

												</tbody>

											</table>
											<dl>
												<dt></dt>
											</dl>
										</div>
									</div>
								</h4>
							</div>
							<div id="index{{$index}}" class="panel-collapse collapse">
								<div class="panel-body">
									<div style="padding: 10px;">
														<span ng-if="purchase.activeCouponList.length == 0"><h3>No Active coupon exist</h3></span>
										<div class="table-responsive ">
											<div class="row">
											
											<span ng-if="purchase.activeCouponList.length >0">
												<div class="col-sm-6" >
												
													<table class="table table-striped " >
														<h3>Active Coupons</h3>
														<tbody>

															<tr>
																<td><span
																	ng-repeat="activeCoupon in purchase.activeCouponList"><input
																		type="checkbox" name="activeCoupon"
																		ng-model="selectedCoupon"
																		ng-change="couponsForShare(purchase.id, activeCoupon.coupon)">
																		<span class="textColorBlue" data-toggle="tooltip"
																		title="Select to Share"
																		ng-show="activeCoupon.sharedEmail == null">
																			{{activeCoupon.coupon}} </span> <span class="textColorRed"
																		data-toggle="tooltip"
																		title="Already Shared with {{activeCoupon.sharedEmail}}"
																		ng-show="activeCoupon.sharedEmail != null">
																			{{activeCoupon.coupon}} </span></br></span></td>

																<td style="vertical-align: middle;"><button
																		class="btn buttonColorRed btn-sm"
																		data-toggle="collapse" data-target="#demo1{{$index}}"
																		ng-disabled="seletcedApp">Share</button></td>
															</tr>
															<tr>
																<td><a ng-show="showLoadmore" style="cursor: pointer;" ng-click="loadActiveCoupons(purchase.id, loadMoreClicked)">Load
																		More..</a></td>
															</tr>


														</tbody>

													</table>
												</div>
												</span>
												<span ng-if="purchase.usedCouponList.length >0">
												<div class="col-sm-6">
													<table class="table table-striped">
														<h3>Used Coupon</h3>

														<tbody>
															<tr>

																<td><span
																	ng-repeat="usedCoupon in purchase.usedCouponList"><del>{{usedCoupon}}</del></br></span></td>

															</tr>
															<tr>
																<td><a
																	ng-click="loadUsedCoupons(purchase.id, loadMoreClicked)">Load
																		More..</a></td></span>
															</tr>

														</tbody>

													</table>
												</div>
											</span>
											</div>
											<div class="accordion-body collapse col-xs-3"
												id="demo1{{$index}}">
												<form role="form" name="form">
													</br> <input name="email" class="form-control " type="email"
														ng-model="shareCouponsUserEmail"
														placeholder="Enter An Email">
													<button style="margin: 10px;" type="button"
														class="btn buttonColorBlue btn-sm"
														ng-click="sendEmail(purchase.id,shareCouponsUserEmail)">Send</button>

												</form>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	</div>

	</div>

	</div>

	</div>




	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!--  <script src="js/jquery.min.js"></script>-->
	<!-- <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>-->
	<!--  <script src="js/bootstrap.min.js"></script>-->
	<!-- SCRIPTS -->

	<script src="js/bootbox.js"></script>

	<!-- <script src="js/customjs.js"></script> -->
</body>
</html>