.save-tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.save-tab-group:after {
  content: "";
  display: save-table;
  clear: both;
}
.save-tab-group li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  background: #d8e3eb;;
  color: #ffffff;
  font-size: 25px;
  float: center;
  width: 100%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.save-tab-group li a:hover {
  background: #21cbd6;
}
.save-tab-group li:nth-child(2) a:hover {
  background: #ed4169;
}
.save-tab-group li.active  a {
  background: #21cbd6;
}
.save-tab-group li.active:nth-child(2) a {
  background: #ed4169;
}
.save-tab-content > div:last-child {
  display: none;
}


label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}



.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: save-table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}