@import url("https://fonts.googleapis.com/css?family=Roboto");
@font-face {font-family:"Roboto Light";src:url("../fonts/roboto/Roboto-Light.eot?") format("eot"),url("../fonts/roboto/Roboto-Light.woff") format("woff"),url("../fonts/roboto/Roboto-Light.ttf") format("truetype"),url("../fonts/roboto/Roboto-Light.svg#Roboto-Light") format("svg");font-weight:normal;font-style:normal;}
@font-face {font-family:"Roboto Bold";src:url("../fonts/roboto/Roboto-Bold.eot?") format("eot"),url("../fonts/roboto/Roboto-Bold.woff") format("woff"),url("../fonts/roboto/Roboto-Bold.ttf") format("truetype"),url("../fonts/roboto/Roboto-Bold.svg#Roboto-Bold") format("svg");font-weight:normal;font-style:normal;}
@font-face {font-family:"Roboto Regular";src:url("../fonts/roboto/Roboto-Regular.eot?") format("eot"),url("../fonts/roboto/Roboto-Regular.woff") format("woff"),url("../fonts/roboto/Roboto-Regular.ttf") format("truetype"),url("../fonts/roboto/Roboto-Regular.svg#Roboto-Regular") format("svg");font-weight:normal;font-style:normal;}
@font-face {font-family:"Roboto Medium";src:url("../fonts/roboto/Roboto-Medium.eot?") format("eot"),url("../fonts/roboto/Roboto-Medium.woff") format("woff"),url("../fonts/roboto/Roboto-Medium.ttf") format("truetype"),url("../fonts/roboto/Roboto-Medium.svg#Roboto-Meduim") format("svg");font-weight:normal;font-style:normal;}

body{
  font-weight:normal;
  /*font-family: 'Roboto Light';*/
  font-family: 'Roboto Regular';
  -webkit-font-smoothing: antialiased;
  color:#383d46;
}
*:focus {
    outline: none !important;
}
a:hover{ text-decoration: none;}
.kh-font-bold{
  font-family:'Roboto Bold'!important;
}
.font-regular{
  font-family: 'Roboto Regular';
}
.font-medium{
  font-family: 'Roboto Medium';
}
.fl-right{
  float:right;
}
.fl-left{
  float:left;
}
/* Signup - Header Block */

.logo{
  margin:80px auto;
}
.full-width{
  width:100%;
}
.navbar {
    margin-bottom: 0px;
}
/* Signup - Content Block */

.signup-container {
    width: 430px;
    display: table;
    margin: auto;
        background: #ebf1f5;
            border-radius: 6px;
}
.signup-form-container {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.signup-texture{
  width:703px;
  background:url('../img/texture.png');
  min-height:625px;
  margin: auto;
  background-repeat: no-repeat;
  position: relative;
}
#signup, #login{
  padding: 0 30px;
}
#signup h3{
  color : #6f7d95;
  font-size:22px;    margin-top: 10px;    font-family: Roboto Regular;
}
#signup h2 {
    color: #6f7d95;
    font-size: 30px;
}
#signup p, #login p{color: #6f7d95;}

.signup-content{
  padding:20px;
}
.container-box{
  padding-bottom:20px;
}
.signin-link{
  margin-top:13px;font-size: 13px;    margin-bottom: 0px;
}
a.sign-in-link{ color:#f27e99; font-family: "Roboto Bold"; }
a.sign-in-link:hover{text-decoration: underline;}

#signup input, #login input{
    font-size: 12px;
    padding:0px 0px 3px 0px;
    /*display: block;*/
    background: transparent;
    color: #6f7d95;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #b9c3d0;
}
#signup select{
  width:100%;color: #6f7d95;font-size: 16px;border: 0px;padding: 5px;
}
#signup input[type="text"], #login input[type="text"], #signup input[type="password"], #login input[type="password"], #signup input[type="email"], #login input[type="email"]{
    font-size: 12px;
    padding:0px 0px 3px 0px;
    -webkit-appearance: none;
    background: transparent;
    color: #6f7d95;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #b9c3d0;
}
.group {
    position: relative;
    margin-bottom: 15px;
}
::-webkit-input-placeholder {
   color: #6f7d95;
}

:-moz-placeholder { /* Firefox 18- */
   color: #6f7d95;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #6f7d95;  
}

:-ms-input-placeholder {  
   color: #6f7d95;  
}
ul.container-box li{
  height:35px;
}
.disclosure{
  color:#6f7d95;
  font-size:12px;
  text-align:center;
  margin-bottom: 28px;
}

#signup input:focus, #login input:focus{ outline:none; }
.spacer{
  height:35px;
}
.spacer50{
  height:50px;
}
.spacer30{
  height:30px;
}
.spacer20{
  height:20px;
}
.spacer15{
  height:15px;
}
.spacer10{
  height:10px;
}
.spacer5{
  height:5px;
}
.hide-on-hover:hover{
  display:none;
}
.clearfixes{
  clear:both;
  display:block;
}
/* Underline */
.font-size24{
  font-size:24px!important;
}
.font-size16{
  font-size:16px!important;
}
.font-size14{
  font-size:14px!important;
}
.font-size12{
  font-size:12px!important;
}
.height80{
  min-height:80px!important;
}
.show-on-hover{
  display:none;
}
.show-on-hover:hover, .menu:hover .show-on-hover{
  display:block;
}

.text-colour4{
  color:#5874A7!important;
}
.text-colour3{
  color:#515a6a!important;
} 
.text-colour1{
  color:#6f7d94!important;
} 
.text-colour2{
  color:#9da6b4!important;
} 
.text-aqua-hover:hover{
color:#18b2c3!important;
}
.text-aqua{
  color:#18b2c3!important;
}
.text-red{
  color:#ed4169!important;
}
.text-red-hover:hover{
  color:#ed4169!important;
}
.text-mainblack{
  color:#383d46!important;
}
.cursor-pointer{
  cursor:pointer;
}
.mgtop2{
  margin-top:2px!important;
}
.mgtop3{
  margin-top:3px!important;
}
.mgtop5{
  margin-top:5px!important;
}
.mgtop10{
  margin-top:10px!important;
}
.mgtop15{
  margin-top:15px;
}
.mgtop20{
  margin-top:20px;
}
.mgtop25{
  margin-top:25px!important;
}
.mgtop30{
  margin-top:30px!important;
}
.mgtopm3{
  margin-top:-3px;
}
.mgbottom5{
  margin-bottom:5px;
}
.marg0{
  margin:0px!important;
}
.margintb0{
  margin-top:0px!important;
  margin-bottom:0px!important;
  margin-left:0px!important;
}
.mgleftm10{
  margin-top:-10px!important;
}
.mgleft10{
  margin-left:10px!important;
}
.mgleft0{
  margin-left:0px!important;
}
.mg-rt-5{
  margin-right: 5px;
}
.mg-rt-2{
  margin-right: 2px;
}
.mg-3{
  margin:5px;
}
.pad0{
  padding:0px;
}
.pad-lt-5{
  padding-left:5px;
}
.pad-rt-0{
  padding-right:0px!important;
}
.pad-rt-5{
  padding-right:5px;
}
.pd-lr5{
  padding-left: 5px!important;
  padding-right: 5px!important;
}
.pd-bt10{
  padding-bottom:10px !important;
}
.padbt0{
  padding-bottom:0px !important;
}
.padtop0{
  padding-top:0px !important;
}

.bg-orange{
  background:#F7931D;
}
.bg-lightblue{
  background:#E2ECF5;
}
.bg-aqua{
  background:#18b2c3!important;
}
.bg-greywhite{
  background:#ebf1f5!important;
}
.bg-colour1{
  background:#f6fafc;
}
.border-lightblue{
  border: 1px solid #D9E2F3;
}


.border-bottom-red2{
  border-bottom: 2px solid #ed4169!important;
}
.btn-transparent{
  border: none;
    background: transparent;
}
.width70{
  width:70px;
}
.width50{
  width:50px;
}

.menu .show-on-hover{
position:absolute;
background:white;
}
.menu .show-on-hover li{
  list-style: none;
}
#startpage .bar {
  position: relative;
  display: block;
  width: 100%;
}

#startpage .bar:before, #startpage .bar:after {
  content: '';
  height: 1px; 
  top:0px;
  width: 0;
  bottom: 1px; 
  position: absolute;
  background: #B9C3D0; 
  -webkit-transition:all 0.2s ease; 
  transition: all 0.2s ease;
}

#startpage .bar:before { left: 50%; }

#startpage .bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }

/*  End of Underline */
.signup-btn{
  background: #50d689;
  border-radius:20px;
  width:180px;
  font-size:25px;
  padding:0px;
      border: none;
      height: 40px;
}
.signup-btn:hover{
  background: #39C16F;
}
#startpage .inp{
  height:36px;
}
#startpage .inputicon{
  width:25px; float:left
}
#startpage .inputbox{
  width:284px; float:left
}

/* Login - Content Block */
#login h2{
    padding: 50px 20px;
    font-size:35px;
    color:#6f7d95;
}
.forg{
  margin-top:5px;
  font-size:12px;
  color:#6f7d95;
}
.login-bottom{
      padding: 40px 0px 0px 0px;
}

/* Footer - Login */
.footer{
  margin-top:10px;
}
#startpage .nav-legal{
  list-style: none;
}
#startpage .nav-legal li{
  display: inline-block;
}
#startpage .nav-legal li a{
  font-size:13px;
  color:#6f7d95;
}
#startpage .footer a{
  font-size:13px;
  color:#6f7d95;
} 
#startpage  .footer p{
  color:#000;
  font-size:13px;
} 
#startpage .footer a:hover{
  color:#000;
} 

/* Profile Page */

#kh, .bodycss{
  background: #ebf1f5;
}
#kh p, #kh ul, .bodycss p, .bodycss ul{
  color:#383d46;
  font-size:14px;
}
.bodycss p, #kh p{
  font-family: 'Roboto Regular';
}
#kh h2, .bodycss h2{
  font-size:32px;
  color:#6f7d94;
  font-family: 'Roboto Regular';
}
#kh h3, .bodycss h3{
  font-size:18px;
  color:#6f7d94;
  font-family: 'Roboto Bold';
}
#kh h4, .bodycss h4{
  font-size:16px;
  font-family: 'Roboto Regular';
}
.main-header{
  background: #fff;
  min-height:70px;
}
#header .navbar-nav a{
  color: #383d46;
}
#header .navbar-nav .active a{
  color: #ED4169;
}
.sample-card{
  margin-top:30px;
}
#top-card, #profileview-card, #exp-card, #skills-card, .notify-card, .ad-card{
  margin-top:5px;
  background: white;
}
.aboutpanel .ad-card.panel{  margin-top:5px!important;}
.sm-card{
  background: white;
  margin-top:30px;
}
.sm-card a{
  color:#9da8ba;
  font-size:12px;
}
.sm-card a:hover{
  color:#f7931d;
}
.sm-card p{
      min-height: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.sm-card h3:hover{
    color:#f7931d!important;
}
.subimg{
  min-width:50px;
}
#header .navbar-form{
  padding:0px;
  margin-top: 4px;
}
#header .dropdown-menu li:hover{
  background-color:#ebf1f5;
  /*background: #20CAD5;*/
}
#header .profile-top-menu.dropdown-menu>li>a:focus, #header .profile-top-menu.dropdown-menu>li>a:hover{
  background: #20CAD5;
}
#header .profile-top-menu.dropdown-menu li:hover a{
  color: white;
}
.input-group .dropdown-menu li:hover{
  background:white!important;
}
#header .input-group{
  width:100%;
}
.navbar-form-rt .input-group{width:100%;}
.navbar-form-rt .input-group .input-group-btn{width:1%!important;}
#header .input-group input, #header .input-group a, #header .input-group button,
.navbar-form-rt .input-group input, .navbar-form-rt .input-group a, .navbar-form-rt .input-group button
{
  border:none;
  background:#ebf1f5;
}

#header .navbar-form .input-group-btn{
  width:30px;
}
#header .navbar-form .dropdown-menu li a{
  background: white;
}
#header .navbar-form .dropdown-menu li a:hover{
  background: #ebf1f5;
}

.vcard{

}
.profile-overview{
    padding: 20px;
    padding-left: 2%;padding: 0 20px 0 2%;
}
.profile-overview h2{
  font-size:35px;
}
.profile-overview h2 button, .btn-follow{
  background: #50d689;
  border:none;
  font-size:12px;
  padding: 8px 20px;
  border-radius: 25px;
  color: white;
  font-family: Roboto Medium;
  margin-top: 7px;
  line-height: 12px;
  margin-left: 2px;
}
.profile-overview h2 button:hover, .btn-follow:hover, .btn-follow:active, .btn-follow:focus{
  background: #43AF70;
  color:white;
}

.profile-overview .det{
  margin-top: 15px;
      margin-bottom: 17px;
}
.profile-overview .det p{
  margin-bottom:0px;
}
.profile-overview .det a{
  color:#6f7d94;
  font-size:25px;
}
.profile-overview .det a:hover, .profile-overview .det a.active{
  color:#ed4169;
}

.bottom-line{
  border-bottom:1px solid #d7e2ea;
}

#contact-info-section{
  padding:50px 70px;border-top: 1px solid #ebf1f5;
}
#contact-info button{
  width:110px;
  height:30px;
  background: #d7e2ea;
  border:none;
  border-radius:0px;
  color:#383d46;
}
#contact-info .btn:focus, #header .navbar-form input:focus{
 outline: none;
 box-shadow:none;
}
#contact-info, {
  height:30px;
  position: absolute;
    right: 15px;
    bottom: 0px;
}

#contact-info-section p span{
  margin-right: 15px;
}
#contact-info-section .address p{
 line-height:27px;
}
ul.contact-details, ul.address{ padding-left:0px;}
ul.contact-details li, ul.address li{
    list-style-type: none;
    margin: 0;
    padding: 13px 1px 11px 50px;
    vertical-align: middle;
}
ul li.notifications a.ic, ul li.messages a.ic, ul li.users a.ic{
      color:white;
          -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
      padding: 8px 15px;
}
ul li.notifications a.ic{
  background: url(../img/kh_icons/b-notify-color.png) no-repeat 0px 0px transparent;
  color: #23BEE9;
}
ul li.messages a.ic{
  background: url(../img/kh_icons/b-msg-color.png) no-repeat 0px 0px transparent;
  color: #F7931D;
}
ul li.users a.ic{
  background: url(../img/kh_icons/b-friend-color.png) no-repeat 0px 0px transparent;
  color: #995FA6;
}

ul.address li:nth-child(1){
  background: url(../img/kh_icons/a-address.png) no-repeat 7px 7px transparent;
}
ul.address li:nth-child(1):hover{
  background: url(../img/kh_icons/a-address-color.png) no-repeat 7px 7px transparent;
  color:#70BE52;
}
ul.contact-details li:nth-child(1){
  background: url(../img/kh_icons/a-email.png) no-repeat 7px 7px transparent;
}
ul.contact-details li:nth-child(1):hover{
  background: url(../img/kh_icons/a-email-color.png) no-repeat 7px 7px transparent;
  color:#F38168;
}
ul.contact-details li:nth-child(2){
  background: url(../img/kh_icons/a-mobile.png) no-repeat 7px 7px transparent;
}
ul.contact-details li:nth-child(2):hover{
  background: url(../img/kh_icons/a-mobile-color.png) no-repeat 7px 7px transparent;
  color:#F7931D;
}
ul.contact-details li:nth-child(3){
  background: url(../img/kh_icons/a-chat.png) no-repeat 7px 7px transparent;
}
ul.contact-details li:nth-child(3):hover{
  background: url(../img/kh_icons/a-chat-color.png) no-repeat 7px 7px transparent;
  color:#23BEE9;
}

ul.socialicon li{
  float:left;
  width:32px;
  height:32px;
  margin-left:8px;
      margin-top: 12px;
}
ul.socialicon li:nth-child(1){

}
ul.socialicon li a{
color:transparent;
 padding: 8px 15px;
 -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
ul.socialicon li a:hover{
 padding: 8px 15px;
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}
ul.socialicon li a.a-icon-fb{
  background: url(../img/kh_icons/facebook.png) no-repeat 0px 0px transparent;
}
ul.socialicon li a.a-icon-twit{
  background: url(../img/kh_icons/twitter.png) no-repeat 0px 0px transparent;
}
ul.socialicon li a.a-icon-linkedin{
  background: url(../img/kh_icons/linkedin.png) no-repeat 0px 0px transparent;
}
ul.socialicon li a.a-icon-insta{
  background: url(../img/kh_icons/instagram.png) no-repeat 0px 0px transparent;
}
ul.socialicon li a.a-icon-fb:hover{
  background: url(../img/kh_icons/facebook_color.png) no-repeat 0px 0px transparent;
}
ul.socialicon li a.a-icon-twit:hover{
  background: url(../img/kh_icons/twitter_color.png) no-repeat 0px 0px transparent;
}
ul.socialicon li a.a-icon-linkedin:hover{
  background: url(../img/kh_icons/linkedin_color.png) no-repeat 0px 0px transparent;
}
ul.socialicon li a.a-icon-insta:hover{
  background: url(../img/kh_icons/instagram_color.png) no-repeat 0px 0px transparent;
}


.sm-card .row{
    padding:30px 0px;
}
#top-subcards h3{
  font-size:18px;
  margin:0px;
}
.cd-wrap{
  padding:30px 10%;
}
.cd-wrap10{
  padding:10px;
}
.cd-wrap-mini{
  padding:17px 10%;
}
.cd-wrap-right{
  padding:25px;
}
.cd-wrap-imp{
  padding:30px 5%;
}
.cd-wrap h3 span, .adgtop{
  font-size:12px;
  color:#9da8ba;    margin-top: 5px;
}
.cd-wrap-right h3{
  margin-top:5px;
}
.cd-wrap-lg-30{
  padding:15px 30px;
}
a.adgtop:hover{
  color:#9da8ba;
}
.skill-det{
  height:35px;
  overflow: hidden;
}
.skill-det ul{
  padding-left:0px;
  height: 30px;
    overflow: hidden;
}
.skill-det ul li{
  float:right;
  margin-left: 5px;
}
.skill-det img{
  width:30px;
}
.skill-det img.arrdwn{
    width: 23px; 
    margin-left: 10px;
    margin-top: 7px;
}
.plus-icon{
  margin-top:-2px;
}
.plus-txt{
      font-size: 22px;
    position: absolute;
    margin-top: -7px;
    margin-left: 3px;
}
.skill-det span{
  height:25px;
  background:#ebf1f5;
  padding:5px 10px;
  color:#6f7d94;
  display: table-cell;
  vertical-align: middle;
  line-height: 19px;
}
.skillb{
  overflow: hidden;
  display: table;
}
span.skill-indicator{
  background:#ed4069;
  padding-right:10px;
  margin-left:10px;
  color:white;
      padding-top: 7px;
}
/* Right Sidebar **/

#profileview-card2{
  height:30px;
  background:#20cad5;
} 
#profileview-card2 button{
   background: #20CAD5;
    border: none;
    border-radius: 0px;
    padding-top: 5px;
    webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
#profileview-card2 button:hover{
  background: #1BBBC5;
}
#profileview-card2 img{
  position: absolute;
    left: 15px;
    margin-top: -5px;
}

#profileview-card2 p span{
  margin-left:30px;
  color:white;
} 

#profileview-card .text-red{
  font-size:25px;
  color:#ed4169;
}

#profileview-card p{
  margin-bottom:8px;
}
.notify-card p{
  margin-bottom:0px;
  margin-top:10px;
}
.notify-card .cd-wrap-right{
  padding-bottom:13px;
}

/* Start Star code */

.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
      height: 16px;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  /*position        : relative;*/
  background      : url('img/star-off.png');
 /* background-size : contain;*/
  margin-right:2px;
  margin-bottom:0px;
  height:16px;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 0.9em;
  height          : 0.9em;
  background      : url('img/star-on.png');
  /*background-size : contain;*/
  opacity         : 0;
  transition      : opacity 0.2s linear;
  height:16px;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}
.starRating label{
  cursor: pointer;
}
/* End Star codes */
/* Start Easy Pie Chart */
#skills-card .chart, #skills-card .charta, #skills-card .chartb {
      position: relative;
    display: inline-block;
    width: 150px;
    height: 145px;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}
#skills-card .chart canvas, #skills-card .charta canvas, #skills-card .chartb canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#skills-card .chart p, #skills-card .charta p, #skills-card .chartb p{
    margin-top: 40px;
    margin-left: 35px;
        width: 80px;
}
#skills-card .chart span{
  font-size:20px;
  color:#70be52;
}
 #skills-card .charta span{
  font-size:20px;
  color:#8369c1;
}
 #skills-card .chartb span{
  font-size:20px;
  color:#f7931d;
}
/* End  Easy Pie Chart */
.c-icon{
  width:60%;
  height:auto;
  margin: 0 auto;
  cursor:pointer;
}
.c-icon img{margin:0 auto;}
.c-icon-cont p{margin-top:10px;margin-bottom:0px;}
/*.c-address{ background: url(../img/kh_icons/c-address.png) no-repeat 0px 0px transparent;}
.c-message{ background: url(../img/kh_icons/c-message.png) no-repeat 0px 0px transparent;}
.c-like{ background: url(../img/kh_icons/c-like.png) no-repeat 0px 0px transparent;}
.c-clock{ background: url(../img/kh_icons/c-clock.png) no-repeat 0px 0px transparent;}
.c-arrow{ background: url(../img/kh_icons/c-arrow.png) no-repeat 0px 0px transparent;}
.c-share{ background: url(../img/kh_icons/c-share.png) no-repeat 0px 0px transparent;}
.c-recommend{ background: url(../img/kh_icons/c_recommend.png) no-repeat 0px 0px transparent;}*/
.c-address{ background: url(../img/kh_icons/c-address-color.png) no-repeat 0px 0px transparent;}
.c-message{ background: url(../img/kh_icons/c-message-color.png) no-repeat 0px 0px transparent;}
.c-like{ background: url(../img/kh_icons/c-like-color.png) no-repeat 0px 0px transparent;}
.c-clock{ background: url(../img/kh_icons/c-clock-color.png) no-repeat 0px 0px transparent;}
.c-arrow{ background: url(../img/kh_icons/c-arrow-color.png) no-repeat 0px 0px transparent;}
.c-share{ background: url(../img/kh_icons/c-share-color.png) no-repeat 0px 0px transparent;}
.c-recommend{ background: url(../img/kh_icons/c_recommend-color.png) no-repeat 0px 0px transparent;}

#contact-message.active p, #contact-message:hover p{color:#f38168;}
#contact-like.active p, #contact-like:hover p{color:#70be52;}
#contact-recommend.active p, #contact-recommend:hover p{color:#f69224;}
#contact-share.active p, #contact-share:hover p{color:#ee4838;}
#contact-address.active p, #contact-address:hover p{color:#995fa6;}
#contact-personalinfo.active p, #contact-personalinfo:hover p{color:#25bcbd;}

.prof-menu span{
  width:80px;
  height:80px;
}
.btn-skills,.btn-red{
  background:#ed4069;
      border: 1px solid #F53F6D;
    border-radius: 25px;
    padding: 3px 18px;
}
.btn-red{color:#FFFFFF;border: none;
    font-size: 12px;
    padding: 8px 20px;
    border-radius: 25px;
    color: white;
    font-family: Roboto Medium;
    line-height: 12px;}
    .btn-red:hover, .btn-red:focus{color:white;background:#d9325d;}
.btn-skills:hover, .btn-skills:focus{
  background:#d9325d;
  border: 1px solid #F53F6D;
}
#contact-message-blk{
  padding: 0 7px;
}
#contact-message-blk textarea, #contact-info-section textarea{
  width:100%;
  height:200px;
  border:none;
  background: #ebf1f5;
}
#contact-message-blk button{
  border: none;
  background: #f38168;
  margin-top: 15px;
  padding: 3px 15px;
  padding-bottom: 0px;
  border-radius: 16px;
}
#contact-message-blk button:hover{
  background:#EF6C4F;
}
/** Activity Page */
.activity-menu p{
  margin: 0px;
}
.actimg{
  min-width:70px;
  max-width:75px;
      margin: 0 auto;
}
.act-content{
  margin-top:10px;
  margin-bottom:15px;
  border:1px solid #d7e2ea;
}
.act-header h3{
  margin-bottom:5px;
}
.act-actions a{
  color:#36b8c7;
  font-family: Roboto Regular;
}
.act2p{
  padding:20px 0px;
  margin:0px;
}
.act-comment{
  border:none;
  background:#ebf1f5;
  color:#8f9aad;
  padding: 4px 12px;
}
.menu-act-status li{
  float:left;
  width: 33.3334%;
}
.menu-act-status li button{
  padding: 25px;
    width: 100%;
    border:none;
    background:transparent;
}
.d-icon{
    width:30px;
    height:30px;
    margin: 0 auto;
    cursor:pointer;
    padding: 8px 18px;
}
.d-button.active{
    background:#DDE9F3;
}
button.d-button:focus, .act-status-form textarea:focus {outline:0;}
.act-status-form{
  display:none;
  padding:20px;
}
.act-status-form textarea{
  width:100%;
  background: #EBF1F5;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    padding: 5px 6px 4px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
    box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
    border: none;
    font-size: 13px;
    color: black;
    line-height: 17px;
    resize: none;
    box-sizing: border-box;
    min-height: 60px;
    max-height: 60px;
    overflow-y: hidden;
}
.act-status-form select{
  width:100%;
  background: #EBF1F5;
    border: none;
    font-size: 13px;
    line-height: 17px;
    color: #66696a;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 25px;
        -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    margin: 0;
    cursor: pointer;
    color: #666;
    min-height: 28px;
    line-height: 18px;
    padding: 5px 5px;
}
.share-wrap, .share-img{
  padding-bottom:10px;
}
.d-status{ background: url(../img/kh_icons/d-status.png) no-repeat 0px 0px transparent;}
.d-status:hover{ background: url(../img/kh_icons/d-status-hover.png) no-repeat 0px 0px transparent;}
.d-post{ background: url(../img/kh_icons/d-post.png) no-repeat 0px 0px transparent;}
.d-post:hover{ background: url(../img/kh_icons/d-post-hover.png) no-repeat 0px 0px transparent;}
.d-photo{ background: url(../img/kh_icons/d-photo.png) no-repeat 0px 0px transparent;}
.d-photo:hover{ background: url(../img/kh_icons/d-photo-hover.png) no-repeat 0px 0px transparent;}
.pad-r-5per{
  padding-right:5%;
}
.da-icon{
    width:30px;
    height:30px;
    margin: 0 auto;
    cursor:pointer;
    padding: 5px 15px;
}
.da-tick{
  background: url(../img/kh_icons/d-tick.png) no-repeat 0px 0px transparent;
}
.da-close{
  background: url(../img/kh_icons/d-close.png) no-repeat 0px 0px transparent;
}
.react{
  margin-top:10px;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.act-knowones h3{
  margin-bottom: 7px;
}
.react img{
  margin-top:10px;margin-left:10px;
}
.btn-follow{
    margin-top: 15px;
    margin-left: 15px;
}
.main-footer{
  margin-top:25px;
  background:white;
  padding:20px 2px;
      min-width: 320px;
}
.main-footer, .main-header{
   min-width: 320px;
   }   
.act-file{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.act-file + label {
    font-size: 16px;
    color: white;
        background-color: #F13461;
    display: inline-block;
    padding: 2px 10px;
}

.act-file:focus + label,
.act-file + label:hover {
    background-color: #E41F4D;
}
.act-cmt-lists{
  margin-top:10px;
}
.comment-entry{
  margin-top:8px;
      min-height: 40px;
          clear: both;
}
.comment-pic{
  float:left;
  position: absolute;
}
.comment-pic img{
  width:35px !important;
  border-radius: 50% !important;
}
.comment-text{
  float:left;
  margin-left: 45px;
  margin-right: 35px;
}
.actpost form{
  margin:0px;
}
.act-com-time{
  position: absolute;right: 17px;
}
.socialicon li{
  list-style:none;
}
/* Blog Page */
.nav-blog-right{
  float:right;
}
.logo-title{
    padding-top: 20px;
    position: absolute;
    color: #383d46;
    font-size:18px;
}
.blog-wrap{
  padding: 20px 25px;
    padding-top: 10px;
    max-height:350px;
}
.blog-wrap h3{
  margin-top: 10px;
    margin-bottom: 4px;
    line-height:20px;
}
.blog-author{
  padding:5px 0px;
}
.hz-blog-item .blog-wrap{
  padding: 9px 12px;
}
.blog-banner{
  background-position: top center;
    background-size: 185%;
    min-height:250px;
    max-height:420px;
        overflow: hidden;
}
.blog-banner-text-container{
    bottom: 0;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
    width: 100%;
}
.blog-banner-text{
      background-color: #fff;
    background-color: rgba(10, 2, 2, 0.31);
    box-sizing: border-box;
    padding: 80px 30px;
    float:right;
    transition: transform 5s ease;
    -webkit-transition: all 5s ease-in;

}
.blog-banner-text-container:hover .blog-banner-text{
    transition: transform 3s ease;
    -webkit-transition: all 3s ease-in;
}
.blog-banner h1{
  font-size:35px;
  color:#fefeff;
  font-family:Roboto Bold;
 
}
.blog-banner p{
  font-size:1.3em!important;
  color:#fefeff!important;
 font-family:Roboto Regular;
}
.blog-item{
  overflow:hidden;
}

.blog-item img, .grayscalemode{
  transition: transform 1s ease;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}
.blog-item:hover img, .grayscalemode:hover{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  }
.zoommode{
      width: 100%;
    height: auto;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
.zoommode:hover{
    opacity: 0.6;
    -webkit-transform:scale(1.20); /* Safari and Chrome */
    -moz-transform:scale(1.20); /* Firefox */
    -ms-transform:scale(1.20); /* IE 9 */
    -o-transform:scale(1.20); /* Opera */
     transform:scale(1.20);
}
.blg-img{
     position: relative;
    overflow: hidden;
}
.blog-item:hover h3{
      color: #18b2c3!important;
  }
.main-footer p a{
  color:#6f7d94;
}
.main-footer p a:hover{
  color:#18b2c3;
}
/*  Blog Inner Page */

h3.blog-side-title{
  font-size:16px;
  color:#333645;
  margin-bottom:2px;
  margin-top:0px;
  margin-left: 1px;
}
.blog-side-title a{
  color:#333645;
}
.blog-side-title a:hover{
  color:#18b2c3;
}
.blog-maincontent h1{
  font-family:Roboto Bold;
  font-size:35px;
  color:#515a6a;
}
.blog-maincontent p.blog-highlight{
  font-size:16px;
  color:#8f9aad;
   font-family:Roboto Regular;
}
.blog-maincontent .blog-cont-text p{
  margin-bottom:20px;
}
.blog-maincontent p.mgbottom5{
  margin-bottom:5px;
}
.blog-main-name{
  float:left;
}
.blog-main-name h3{
      margin: 5px;
      margin-left: 0px;
      text-decoration:none;
}
.blog-main-name a:focus, .blog-main-name a:hover, .blog-main-name a:active{
  outline:none;    outline-offset: 0px; text-decoration: none;
}
.blog-main-userimg{
  float:left; width:70px
}
.blog-main-luv{
  float:right; margin:10px;margin-right:0px;
}
.blog-innerpage .cd-wrap-right p, .networkpage .cd-wrap-right p{
  margin-left: 3px;
}
.blog-main-name .popover a{
font-family: Roboto Regular;
}
.blog-main-name .popover a:hover{
  color:#ed4169;
}
.blog-main-name .popover a{
  color:#6f7d94;
}
.blog-main-name .popover-content{
  background:#F6F8F9;
}
.e-icon{
  width:15px;
    height:17px;
    margin: 0 auto;
    cursor:pointer;
    padding: 2px 12px;
  }
.e-share{ background: url(../img/kh_icons/e-share.png) no-repeat 0px 0px transparent; }
.e-share:hover{ background: url(../img/kh_icons/e-share-color.png) no-repeat 0px 0px transparent; }
.e-luv{ background: url(../img/kh_icons/e-luv.png) no-repeat 0px 0px transparent; }
.e-luv:hover{ background: url(../img/kh_icons/e-luv-color.png) no-repeat 0px 0px transparent; }
a.blog-title{
  color:#515a6a;
}
a.blog-title:hover{
  color: #18b2c3;
}
/********************    Network Page   ********************/

.net-filterbox, .imp-topbox{
  background:#d8e4ee;
  padding:10px;
}
.con-item{
  padding:20px;
      min-height: 130px;
}
.connection-imgbox img{
  width:90px;
  margin:0 auto;
}
.connection-imgbox {
  padding-right:0px;
  height:90px;
  padding-left: 0px;
}
.con-item h3{
  margin-top: 1px;
  margin-bottom: 8px;
}
.con-item h4, .con-item p{
  margin-top: 2px;
  margin-bottom: 5px;
}
.con-item ul{
  margin-bottom:0px;
}
.con-item ul img{
  margin-right:5px;
}
.bottom-line-light{
  border-bottom:1px solid #ebf1f5;margin:0px;
}
ul.text-red li, .con-item .text-red{
  color:#ed4069;
  cursor: pointer;
}
.con-messagebox .modal-header{
  background: #20cad5;
  color:#ffffff;
}
.con-messagebox h4{
  margin:0px;
  font-size:16px;
  font-family: Roboto Regular;
}
.con-messagebox .close{
  color:#ffffff;
  opacity: .8;
}
.con-btn-close{
  background:#d8e4ee!important;
  color:#6f7d94;
}
.con-btn-close:hover{
  background:#CEDBE6!important;
  color:#6f7d94;
}
.bootbox .modal-dialog{
  width: 320px;
}
.bootbox .modal-content{
  background: #ebf1f5;
}
.bootbox .modal-footer{
  /*border-top:none;*/
}
.bootbox .modal-footer button{
  float: right;
    margin-right: 10px;
}
.bootbox .modal-footer button{
    border: none;
    font-size: 12px;
    padding: 8px 20px;
    border-radius: 25px;
    color: white;
    font-family: Roboto Medium;
    margin-top: 7px;
    line-height: 12px;
    margin-left: 2px;
}
.bootbox .modal-footer button.btn-primary{
    background: #ed4069;
}
.bootbox .modal-footer button.btn-default{
    background: #8d98ac;
    color: white;
}
.bootbox .bootbox-body{
  color:#ed4069;
}
.con-item:hover{
  background: #f5fbff;
}
.con-item .con-action{
  display:none;
}
.con-item:hover .con-action{
  display:block;
}
.net-filterbox .filter-title{
  font-size:16px;
  color:#6f7d94;
}
.net-filterbox select, .filbox select{
    background: none;
    border: none;
    font-size:16px;
    font-family:'Roboto Medium';
    color:#6f7d94;
} 
.net-filterbox option,  .filbox option{
    font-family:'Roboto Light';
    background:#d8e4ee;
  }
.net-filterbox option:hover {
    color: #ed4169; 
  }
.net-filterbox input, .textboxdesign{
    background: #ebf1f5;
    border: none;
    border-radius: 16px;
    font-size: 14px;
    padding: 2px 10px;
    color: #6f7d94;
}
.con-tag-action{
    
      border-color: #C9DAE8;
    box-shadow: 0 3px 19px rgba(0,0,0,.175);
    border-radius: 0px;
}
.con-tag-action li a{
    color:#6f7d94;    padding: 3px 15px;
}
.con-tag-action li a input[type=checkbox]{
    background:white;
    margin:0px;
    margin-right: 5px;
}
.con-messagebox .modal-body{
   background:#ebf1f5;
   padding:15px 20px;
}
.con-messagebox .form-control{
  border:none;
}
.net-boxitem ul li a{
  color:#383d46;
  font-size:12px;
}
.net-boxitem ul li:first-child a:hover{
  color:#20cad5;
}
.net-boxitem ul li a:hover{
  color:#ed4169;
}
.net-boxitem ul{
  margin:0px;
}
.net-boxitem p{
  line-height:16px;
  font-size: 12px;
  margin-top:5px;
}
.net-boxitem li{
  padding-left: 0px;
}
/* Network Contact Page */
.imp-topbox h3{
  margin:0px;
}
.imp-service-item{
  padding-top:10px;
  padding-bottom:5px;
  border:1px solid #ecf1f5;
  height:65px;
  text-align:center;
}
.imp-service-item:hover{
  cursor:pointer;
}
.imp-link{
  color: #6f7d94;
  font-family: Roboto Regular;
}
.imp-service-item img{
  margin:0 auto;
  max-height: 25px;
}
.imp-item-box{
  height:25px;
}
.imp-service-item p{
  font-size: 12px;
}
.wc-form-control{
  display: block;
    width: 95%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9e5ee;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    max-width:100%;
}
.wc-form-control option{
  color:#6f7d94;
}
/*********  Jobs *********/
.list-wrapper{
      padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 5px;
    margin-right: 10px;
    border:1px solid #d8e4ee;
    position: relative;
    overflow: hidden;
}
#job-search-tab-block .list-wrapper, #job-search-tab-block .list-wrapper ul{
      height: 204px;
}
.list-wrapper ul{
    border: 0;
    overflow: scroll;
    overflow-x: hidden;
    width: 102%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    list-style: none;
        padding-left: 20px;
}
.list-wrapper li{
      padding-left: 5px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 0px;
}
        /*scrollbar*/
::-webkit-scrollbar {
      width: 15px;
} 
::-webkit-scrollbar-track {
     /*  background-color: #b46868;
the new scrollbar will have a flat appearance with the set background color */
background: white;
} 
 
::-webkit-scrollbar-thumb {
      background-color: #c9d9e6; 
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: rgba(116, 130, 152, 0.5);
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: transparent;
}
      /* Checkbox */
.list-wrapper input[type=checkbox] {
    display: none;
}
.list-wrapper .checkbox label:before {
    border-radius: 3px;
}
.list-wrapper input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #6F7D94;
    text-align: center;
    line-height: 15px;
}
.list-wrapper label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 13px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #FFF;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
#job-search-tab-block label{
  color:#6f7d94;
  font-family: 'Roboto Medium';
}
.job-topsearch-btn{
  padding: 6px 20px;
  margin:0px;
}
.job-topbox{
      padding: 10px;
}
.job-topbox h3{
  margin-left:20px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.job-search-h4{
  font-size:14px !important;
  font-family: "Roboto Medium";
  margin-top:5px;
  margin-bottom:5px;
  color: #6f7d94;
}
.job-search-h4 a{
  color: #6f7d94;
}
.job-search-h4 a:hover{
  color: #18b2c3;
}
.job-firm .f-items{
  margin-bottom:20px;
}
.aqua-tooltip + .tooltip > .tooltip-inner {background-color: #20cad5;}
.aqua-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:#20cad5;}
.g-tabs{
  display:none;
}
/* Tags */
input.tags {
  border: none;
  box-shadow: none;
  width: auto;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  color: #999;
  font-size: .9em;
  min-height: 1.9em;
  display: inline-block;
  background: transparent;
}

input.tags:focus {
  outline: none;
  background: transparent;
}

.tags-bar {
  width: 100%;
  background: #fff;
  display: block;
  backgound-color: #fff;
  padding: 0.35em 0.25em 0.2em;
  border: 1px solid #D7E2EA;
}
.tag {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  background: #20CAD5;
  color: #fff;
  margin: 0em 0.1em .1em .1em;
  padding: .2em 1.3em .15em .45em;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.tag:after {
  position: absolute;
  display: block;
  top: .2em;
  right: 5px;
  content: "×";
  font-size: 1em;
  line-height: 1em;
  color: rgba(255, 255, 255, 0.5);
}
.tag:hover {
  opacity: .8;
  cursor: pointer;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

/* Job View */

.job-compant-wrap{
  display: -webkit-flex; /* Safari */
    display: flex;
    width:100%;
}
.job-company-logo{
  width:90px;
}
.job-company-text{
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
        padding-left: 15px
}
.job-company-text h3{
  margin-top:0px;
  margin-bottom: 5px;
}
.width90{
  width:90px;
}
.btn-theme2{
  background: #FFFFFF;
  color:#50d689;
  border: 1px solid #50d689;
}
.btn-theme2:hover{
    background: #FAFCFD;
    color: #3AB76F;
}
.job-firm .f-items ul{
  margin-bottom:0px;
}
.job-firm .f-items ul li{
  padding-left:2px;
  padding-right:2px;
}
/* Groups */
.wc-more{
  height:120px;
  overflow:hidden;
  -webkit-transition: all 2s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 2s ease;
}
.addheight{
  height:auto;
  -webkit-transition: all 2s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 2s ease;
}
.bg-group-comment{
  background: #f5fbff;
}
.group-company-logo{
  width:40px;
}
.groups-active{
  height:300px;
  overflow-y: scroll;
}
.groups-active-wrap{
  padding-right: 15px;
}
button.group-memb:hover span {display:none}
button.group-memb:hover:before {content:"Leave "}
.group-memb-i{display:none;}
.group-memb:hover .group-memb-i{display:inline-block;}
.group-memb, .group-memb:active, .group-memb:focus{
  width:100px;
  background: #FFFFFF;
  color: #20cad5;
  border: 1px solid #20cad5;
}
.group-memb:hover{
  background: #FFFFFF;
  color: #ed4169;
  border: 1px solid #ed4169;
}
.img-border-hover img:hover{
  border:1px solid white;
}
.groups-toggle{
  background:none;
  border-radius:20px;
  padding:1px 4px;
  cursor:pointer;
  border:1px solid white;
}
.groups-toggle .caret{
  margin-left: 0px;
}
.groups-toggle:hover{
    background: #d9e5ee;
    border: 1px solid #ebf1f5;
    overflow: hidden;
}
.groups-toggle img{
  padding:1px;
}
.groups-dropdown .dropdown-menu{
  background:#20cad5;
      left: -61px;
    min-width: 100%;
}
.groups-dropdown .dropdown-menu>li>a{
    color:white;
}
.groups-dropdown .dropdown-menu>li>a:hover{
    color:#333;
    background:#d9e5ee;
}
.pend-group .label-info{
  display:none;
  margin-right:5px;
}
.pend-group:hover .label-info{
  display:inherit;
}
.mygroup img{
  margin:0 auto;
}
.pend-group:hover .hide-on-hover{
  display:none;
}
/* Messaging */
.messages-left-topbox{
  height: 60px;
  padding: 5px 15px 5px 10%;
  border-bottom: 1px solid #e4e4e4;
}
.messages-right-topbox{
  height: 60px;
  padding: 10px 15px 10px 25px;
  border-bottom: 1px solid #e4e4e4;
}
.messages-dropdown .dropdown-menu{
  background:#20cad5;
}
.messages-dropdown .dropdown-menu>li>a{
    color:white;
}
.messages-dropdown .dropdown-menu>li>a:hover{
    color:#333;
    background:#d9e5ee;
}
.messages-grouplist li{
    display: block;
    padding: 10px;
    border-bottom: 1px solid #F1EFEF;
    overflow: hidden;
    clear: both;
    cursor: pointer;
}
.messages-grouplist .thumb{
    width: 40px;
    height: 40px;
    float: left;
    min-width:30px;
}
.messages-grouplist .summary {
    margin-left: 50px;
    color: #666;
    font-size: 12px;
    line-height: normal;
}
.messages-dropdown .dropdown-menu{
  left: -200px;
    top: 20px;
}
.messages-viewbox{
      overflow: auto;
    height: 450px;
    width:100%;
}
.messages-commentbox{
      position: relative;
    margin: 0 15px 20px;
    box-shadow: 0px -2px 15px 5px #fff;
    border: 1px solid #34b3e4;
    -webkit-transition: border-color 0.2s;
    -moz-transition: border-color 0.2s;
    -o-transition: border-color 0.2s;
    transition: border-color 0.2s;
}
.messages-commentbox form{
  position: relative;
    padding: 15px;
}
.messages-commentbox textarea{
  border:none;
  background:none;
  width:100%;
  box-shadow:none;
}
.message-actionarea{
  width:100%;
}
.m-leftaction{    margin-right: auto;}
.m-rightaction{   margin-left: auto;}
.messages-grouplist li.active{
  background:#D8E4EE;
}
.messages-grouplist li.active:hover{
  background:#C7D2DE;
}
.messages-grouplist li:hover{
  background:#D8E4EE;
}
.messages-grouplist li a{
  padding:0px;
}
.messages-grouplist li.active a:focus{
  background:transparent;
}
.messages-grouplist li.active a, .messages-grouplist li a:hover, .messages-grouplist li a:active{
  background:transparent;
}
.messages-grouplist li.active:hover a{
  background:transparent;
}
.messages-left-content{
    overflow: auto;
    height: 450px;
    width: 100%;
}
.messages-comment-item{
    width: 100%;
    padding: 10px;
    color: #222;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    display: table;
    text-align: left;
}
.thumb.thumb-sm {
    width: 40px;
}
.messages-comment-item .media{
    position: relative;
    z-index: 1;
}
.thumb img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.messages-comment-item .media-object {
    display: block;
}
.messages-comment-item ul.chats > li.in .media-body{
    text-align: left;
    border-left: 3px solid #20CAD5;
    margin-left: 65px;
    padding-left: 5px;
}
.messages-comment-item ul.chats > li.out .media-body {
    border-right: 3px solid #e05d6f;
    margin-right: 65px;
    text-align: right;
    padding-right: 5px;
}
.messages-comment-item .media-heading {
    margin-top: 0;
    margin-bottom: 5px;
}
.messages-comment-item ul.chats > li.in .name {
    color: #20CAD5;
}
.messages-comment-item ul.chats > li .datetime {
    color: #95a2a9;
    font-size: 12px;
}
.messages-comment-item ul.chats > li.in .media:after {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 4px solid transparent;
    border-right: 4px solid #20CAD5;
    border-top: 4px solid transparent;
    position: absolute;
    top: 18px;
    left: 36px;
    z-index: 1;
}
.messages-comment-item ul.chats > li.out .media:after {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #e05d6f;
    border-top: 4px solid transparent;
    position: absolute;
    top: 18px;
    right: 36px;
    z-index: 1;
}
.messages-comment-item ul.chats > li {
    margin: 20px auto;
    font-size: 12px;
}
.messages-comment-item ul.chats > li.out .name {
    color: #e05d6f;
}
.messages-comment-item ul.chats > li.out .name, ul.chats > li.out .datetime {
    text-align: right;
}

/* Company */
.company-connected li{
      padding-right: 15px;
    padding-left: 15px;
}
.degree-icon{
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    vertical-align: baseline;
    font-size: 11px;
    line-height: 12px;
    font-weight: bold;
    color: <img src="img/edit-profile.png"></span></a>;
    background-color: #ebf1f5;
    padding: 2px 6px 1px;
    position: absolute;
    bottom: 0px;
    right: 4px;
}
.company-updates{
      margin-top: 0;
    border-top: 1px solid #EBF1F5;
    padding:25px;
}
.company-connected-content p{
  margin-bottom:3px;
}
.custom-bullet li:before
{
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #CCCCCC;
}
.theme1.pagination>.active>a, .theme1.pagination>.active>a:focus,
 .theme1.pagination>.active>a:hover, .theme1.pagination>.active>span,
  .theme1.pagination>.active>span:focus, .theme1.pagination>.active>span:hover{
    background: #20cad5;
    border-radius: 50%;
    border-color: transparent;
    color:white;
  }
  .theme1.pagination>li>a{
    border:none;
    color:#6f7d94;
    font-family: "Roboto Medium"; 
    margin-left:5px;
    margin-right:5px;
  }
  .theme1.pagination>li>a:focus, .theme1.pagination>li>a:hover,
   .theme1.pagination>li>span:focus, .theme1.pagination>li>span:hover{
        background-color: #ebf1f5;
        border-radius:50%;
   }


/* on 21 July */

.nav-profile .profile-top-menu{
  left:-100px;
}
/*.content{
  background-color:#ebf1f5;
}*/
.pad0{
  padding:0px!important;
}
.btn-follow-nomargin{
  margin:0px;
}
 /*  Notification */  

.notify-item .media-body{
  min-height:100px;
}
.prothumb-img{
  width:60px;
  height:60px;
}
.minheight600{
  min-height:600px;
}
.minheight70vh{
  min-height:70vh;
}
.morebigimgbox{
  height:300px;
  overflow:hidden;  
}
.moresmallimgbox{
  height:200px;
  overflow:hidden;  
}
.moresmallimg-overlay{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0;
}
.moresmallimg-overlay:hover{
  opacity: 0.5;
}
.moresmallimg-overlay a{
  color:#ed4169;
  font-size:28px;
  left:35%;
  top:35%;
  position:absolute;
}
.btn-aqua{
  background:#20cad5;
}
.btn-aqua:hover, .btn-aqua:active, .btn-aqua:focus{
  background:#17b7c1;
}
.actimgboxb h3{
  margin-top:12px;
}
.actimgboxa{
  text-align:center;
}

.up-camera-icon{
  background:rgba(255, 255, 255, 0.27);
  cursor:pointer;
}
.act-date{
  float:right;
}
.width95pc{
  width:95%;
}
md-autocomplete{
  width:95%;
  min-width:150px;
}
.note-editor{
  width:96%;
}
.word-wrapper{
  word-wrap:break-word;
}

.messages-left-topbox .dropdown-menu>li>a:focus, .messages-left-topbox .dropdown-menu>li>a:hover{
    color: #FFFFFF;
    background-color: #20CAD5;
}
.messages-grouplist.nav-stacked>li+li{
      margin-top: 0px;
}
.messages-grouplist li a{
  min-height: 40px;
    width: 100%;
}
.icon-inside { 
    position: relative; 
}

/* style icon */
.icon-inside .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.navbar-nav .menu a{
  font-family: 'Roboto';
}
#header .navbar-nav a {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*  July  */
.up-camera-icon {
    background: rgba(255, 255, 255, 0.27);
    cursor: pointer;
}
.profile-topcard{
  overflow: hidden;
}
.company-container .nav-pills>li>a{
  font-family: 'Roboto';
  border-radius:0px;
  color:#6f7d94;
      padding: 10px 15%;
  min-width:50px;
}

.company-container .nav-pills>li.active>a, .company-container .nav-pills>li.active>a:focus, .company-container .nav-pills>li.active>a:hover {
    color: #ed4069;
    background-color: transparent;
}
.company-container .nav-pills>li>a:hover{
    color: #ed4069;
    background-color: #cbe5f7;
}
.company-container .nav .open>a,
.company-container .nav .open>a:focus,
.company-container .nav .open>a:hover{
    color: #ed4069;
    background-color: #cbe5f7;
}
.company-container .nav .open .dropdown-menu>li>a{
font-family: 'Roboto';
    padding: 6px 10%;
    color:#6f7d94;
}
.company-container .nav .open .dropdown-menu>li>a:hover,
 .company-container .nav .open .dropdown-menu>li>a:focus{
  color: #ed4069;
    background-color: #cbe5f7;
}


.staff-item h3 {
    margin-top: 1px;
    margin-bottom: 8px;
}
.staff-item-img{
   /*min-width:65px;*/
}
#achievements .carousel-caption{
      position: static;
          text-shadow: 0 1px 2px rgba(0, 0, 0, 0);
    min-height: 70px;
        padding-bottom: 0px;
}
#achievements .carousel-caption p{
      font-size:16px;
        padding-left:10%;
  padding-right:10%;
}
.carousel-control.left, .carousel-control.right{
  background:transparent;
}

  #facilities #myCarousel .carousel-control,
  #achievements #myCarousel2 .carousel-control{
    opacity:1;
  }
  .left-slide-arrow{
        left: 0%;
    margin-left: 0px !important;
    background: white;
    color: #ed4169;
    top: 40%;
    height: 36px;
    border-right: 0px;
    position: absolute;
  }
  .right-slide-arrow{
        right: 0%;
    margin-right: 0px !important;
    background: white;
    color: #ed4169;
    top: 40%;
    height: 36px;
    border-right: 0px;
    position: absolute;
  }
  .text-white{
    color:white;
  }
  .top45pc{
    top:45%!important;
  }
  .heightauto{
    height:auto!important;
  }
  .width100pc{
    width:100%!important;
  }
  .min-height100{
    min-height:100px;
  }
  .bg-colorgrey{
    background-color: #799ad0!important;
  }

  .company-description, .company-description:hover .edit-block{
     -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
  }
  .company-description .edit-block{
    height:20px;
  }
  .company-description .edit-block .edit-btn{
    display:none;
    cursor:pointer;
  }
  .company-description:hover .edit-block .edit-btn{
    display:block;
  }
/* CKEditor */

.cke_top {
    border-bottom: 1px solid #b6b6b6!important;
    box-shadow: none!important;
    background: #c9d9e6!important;
    background-image: linear-gradient(to bottom,#deeefb,#a9b8c5)!important;
}
.cke_bottom {
    padding: 6px 8px 2px;
    position: relative;
    border-top: 1px solid #b6b6b6!important;
    box-shadow: none!important;
    background: #c9d9e6!important;
    background-image: linear-gradient(to bottom,#deeefb,#a9b8c5)!important;
}
.cke_chrome {
    border: 1px solid #bcd4e6;
}
.company-edit-btn{
      /*position: absolute;*/
      float:right;
      /*right: 40px;
      bottom: 15px;*/
}
/**/
.wc-table, .wc-table th, .wc-table td{
  border:1px solid #d9edf7;
}
.wc-table th{
  border-bottom: 2px solid #d9edf7;
}
.wc-pagination{
  margin-top:0px;
}
.wc-pagination li{
  margin-top:0px;
}  
.wc-pagination>li>a, .wc-pagination>li>span{
  margin-left:5px;
  border: 1px solid #d9edf7;
      color: #20cad5;
}
.wc-pagination>li>a:focus, .wc-pagination>li>a:hover, .wc-pagination>li>span:focus, .wc-pagination>li>span:hover{
      color: #ffffff;
    background-color: #20cad5;
    border-color: #bce8f1;
}
.wc-pagination>.active>a, .wc-pagination>.active>a:focus, .wc-pagination>.active>a:hover{
  color: #ffffff;
    background-color: #20cad5;
    border-color: #bce8f1;
}
label, table th{
  font-family: 'Roboto Medium';
  font-weight: 500;
}

/* on 29 August */

.aboutpanel a:focus{text-decoration: none;}
    #about-skill .panel-body, #about-experiance .panel-body, #about-honor .panel-body,
     #about-desc .panel-body,#about-education .panel-body{border-top: 1px solid #ebf1f5;}
    #about-honor, #about-skill,#about-education,#about-certification{ margin-top: 20px}

/* on 7 September */
.facilityitem .thumb{margin-top:5px;}
.panel-grey {
    border-color: #c7dbea;
    border-radius: 0px !important;
}
.panel-grey>.panel-heading {
    color: #6f7d94;
    background-color: #d8e4ee;
    border-color: #d8e4ee;
        border-radius: 0px;
}

.panel-grey>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #d8e4ee;
}

/* on 15 September */
.btn-cancel{
    margin-top: 15px;
    margin-left: 15px;
        background: #c0d0dd;
    border: none;
    font-size: 12px;
    padding: 8px 20px;
    border-radius: 25px;
    color: white;
    font-family: Roboto Medium;
    line-height: 12px;
}
.btn-cancel:hover{background: #a6bdd0;color:#FFF;}
.bg-green {
    background-color: #20cad5!important;
}
.staff-item-block .team-blk-action, .team-blk-item .team-blk-action{display:none;}
.staff-item-block{min-height: 140px}
.staff-item-block:hover .team-blk-action, .team-blk-item:hover .team-blk-action{display:block;}
.staff-item-block:hover, .team-blk-item:hover{background: #ebf1f5;}
p.team-action-cont{height:15px;margin-bottom:0px;margin-top:0px;}

/** 21 Sept */

.btn-abs-rt{ position: absolute; right: 0;  top: -50px;}
#about-desc .btn-abs-rt{display:none;}
#about-desc:hover .btn-abs-rt{display:block;}
.displayonhover{display:none;}
#experiancecontent:hover .displayonhover, #educontent:hover .displayonhover,
 #honourcontent:hover .displayonhover,#about-desc:hover .displayonhover, #certicontent:hover .displayonhover,
  #about-personalinfo:hover .displayonhover{display:block;}
 .displayonhover{transition: display 0.2s ease}
.displayonhover:hover {transition: display 0.3s ease; }

/** 23 Sept **/

.prof-img-box, .company-img-box{background: rgba(38, 182, 202, 0.55); color:white; height:40px;}
.prof-img-box a{    color: white; font-size: 17px; margin-left: 10px; position: absolute; top: 8px;}
.prof-img-box img, .company-img-box img{margin-right:5px;margin-top:-2px;}
.prof-img-box, .company-img-box{display: none}
.profile-topcard:hover .prof-img-box{display: block}

.autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #d9e5ee; background: #ebf1f5;color: #606c80; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

input#degree_autocomplete {  border: 1px solid #d9e5ee; display: block; margin: 20px 0; }

/* Sept 28 */
.n-icons{list-style-type: none; margin: 0; padding: 13px 1px 11px 50px; vertical-align: middle;}
.n-mail{background: url(../img/nurse-icons/ic_email.png) no-repeat 7px 7px transparent;}
.n-mob{background: url(../img/nurse-icons/ic_mob.png) no-repeat 7px 7px transparent;}
.n-address{background: url(../img/nurse-icons/ic_address.png) no-repeat 7px 7px transparent;}
.n-dob{background: url(../img/nurse-icons/ic_dob.png) no-repeat 7px 7px transparent;}
.n-gender{background: url(../img/nurse-icons/ic_gender.png) no-repeat 7px 7px transparent;}
.n-language{background: url(../img/nurse-icons/ic_language.png) no-repeat 7px 7px transparent;}
.n-hobby{background: url(../img/nurse-icons/ic_hobby.png) no-repeat 7px 7px transparent;}
.greytag{     padding: 5px 8px; margin-right:5px; background: #d8e4ee;display:block; margin-bottom:10px;}
.bluetag{     padding: 5px 8px; margin-right:5px; background: #20cad5;display:block; margin-bottom:10px; color:white;}
#profile-edit-about .list-wrapper label, #profile-edit-about input, #profile-edit-about textarea {font-family: 'Roboto Regular';}
#profile-edit-about .list-wrapper{    padding-right: 0px; margin-right: 0px;}
.profile-topcard .editable-click, .profile-topcard a.editable-click{display: inline; color: inherit; border-bottom: none;}
.profile-topcard a.editable-click:hover{background:#d8e4ee;}
.profile-topcard .editableform .form-control, .profile-topcard .editableform .form-control:focus{border: 1px solid #d9e5ee;font-size:inherit;color:inherit;}
.profile-topcard .editableform .editable-buttons button{    padding: 7px 10px;}
.profile-topcard .editableform .editable-buttons .editable-submit{background-color: #20cad5; border-color: #20cad5;}
.profile-topcard .editableform .editable-buttons .editable-cancel{background-color: #b8c3d0; border-color: #b8c3d0; color:#FFFFFF;}
/*sept 29 */
.tab-paned{display:none;}
.tab-paned.active{display:block;}
#nextwiz{    font-size: 16px;padding: 10px 26px;margin-left:0px;}
.signuplabel{    margin-left: 20px; color: #6f7d95; font-size: 16px;}
#signup input[type='radio'] {
    -webkit-appearance:none;
    width: 14px;
    height: 14px;
    border-radius:50%;
    outline:none;
    margin: 0px 0px 0px -20px;
    background: #FFFFFF;
    border-bottom:0px;
    border:3px solid white;    margin-top: 3px;
}
#signup input[type='radio']:hover {
    box-shadow:0 0 5px 0px #ed4169 inset;background: #ed4169;
}
#signup input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
        margin: 0px 0px 0px -20px;
    margin: 20% auto;    
    border-radius:50%;    
}
#signup input[type='radio']:checked {
    background:#ed4169;
}
#signup input[type='radio']:checked:before {
    background:#ed4169;
}
.signup-texture .tab-group{margin: 0 0 10px 0;}
.signup-select-cont{min-height:160px}
#contact-info-section p span.badge{width:auto;height:auto;background:#ed4069;margin-left:10px;}
.skill-pills a{color:#383d46;}
.skill-pills li{
  -webkit-transition: all 0.07s;
  -moz-transition: all 0.07s;
  -o-transition: all 0.07s;
  transition: all 0.07s;
  display: inline-block;
  border: 0;
  margin: 0 5px 5px 0;
  padding: 0;
  line-height: 17px;
  color: #333333;
  font-weight: normal;
  background: #d8e4ee;
  border-radius: 2px;
  text-decoration: none;
}
.skill-pills li:hover{
  -webkit-box-shadow: 0 1px 1px #ccc;
  -moz-box-shadow: 0 1px 1px #ccc;
  box-shadow: 0 1px 1px #ccc;
  -webkit-transition: all 0.07s;
  -moz-transition: all 0.07s;
  -o-transition: all 0.07s;
  transition: all 0.07s;
  color: #ffffff;
  background: #0077b5;
}
.skill-pills li:hover a{
  color:#ffffff;
   background: #0077b5;
}
.prof-frnd.profile-overview{padding: 0 20px 0 2%;}
.prof-frnd.socialicon li{float:none;}
.prof-frnd.socialicon li a, .prof-frnd.socialicon li a:hover{color:#383d46; padding: 8px 45px;}
.prof-frnd.socialicon li a:hover{color:#6f7d94;}
/* Oct 19 */
.btn-prefcity, .btn-prefcity:focus, .btn-prefcity:active{color:#FFFFFF; font-size:20px;}
.btn-prefcity:hover{color:#ed4069;}
.selectpicker-cover button{ padding:6px 12px; border:0px;border-radius: 0px;}
.selectpicker-cover button:hover{background:none; border:0px;}
.selectpicker-cover .btn-group{   padding: 0px;} 
.selectpicker-cover button.dropdown-toggle, .selectpicker-cover button.dropdown-toggle:hover,
.selectpicker-cover button.dropdown-toggle:active, .selectpicker-cover button.dropdown-toggle:focus{background:none;border:none;box-shadow:none;}
.selectpicker-cover .open>.dropdown-toggle.btn-default{background:#ebf1f5;border:none;box-shadow:none;}
.selectpicker-cover .btn-group ul li a:hover{background:#e2ecf5;};

/*Oct 25*/
.profile-topcard .m-experience .editableform .form-control{width:52px!important; background:red;}
.m-experience .editableform .editable-input input{ width:52px;}
.m-experience .editableform .editable-cancel{display:none;}
.company-topcard:hover .company-img-box{display: block}
.company-img-box a{    color: white; font-size: 14px; margin-left: 5px; position: absolute; top: 8px;}
 .company-img-box img{width:15px;}
 #award-result > div{width:100px; height:100px; overflow: hidden; float: left; margin-left: 10px;margin-bottom: 10px;position: relative;}

 #award-result > div a, .remove_pict{display:block;position: absolute; top: 0px;  background: #ed4169; border-radius: 50%;
    width: 20px; height: 20px; text-align: center;color:white;}
    .remove_pict a:hover{text-decoration:none; color:white;}

/* Nov 10 */

.notification-scroll{
      max-height: 180px;
    overflow-y: scroll;
    width: 100%;
}
.settings-wrap{min-height:550px;}
.settings-wrap .nav a{color:#ed4169; font-size:14px;}
.settings-wrap .nav-tabs>li.active>a, .settings-wrap  .nav-tabs>li.active>a:focus,
.settings-wrap  .nav-tabs>li.active>a:hover{background-color:#ed4169; color:#FFFFFF;}
.settings-wrap .nav>li>a:focus, .settings-wrap .nav>li>a:hover {background-color: #ed4169;border-color:#ed4169; color:#FFFFFF; border:none;border-radius:0px;}
.settings-wrap .nav-tabs{border:none;}
.settings-wrap .tab-content .editable-click{ border-bottom: none; color: #383d46;}
.settings-wrap .tab-content:hover .editable-click{ border-bottom: dashed 1px #18b2c3; color: #18b2c3;}
.settings-wrap .editableform .editable-buttons .editable-submit {
    background-color: #20cad5;border-color: #20cad5;}
.settings-wrap .editableform .editable-buttons button { padding: 7px 10px; }

/* Nov 22 */

.btn-disbd-feature{    cursor: auto!important;}
.profile-card-extras{padding:10px 0px; background:#f4f8fb}

/*  Nov 25 */

.blog-actions a { color: #36b8c7; font-family: Roboto Regular; }

.like-item-cont{height:350px;}
.like-item-cont .like-items{padding:10px 4px;    border-bottom: 1px solid #d1eafb;}
.overflow-scrolly{overflow-y: scroll; overflow-x:hidden;}
.prof-main-btn{min-width: 110px}
.testi-item{background: #f4f8fb;padding: 10px 5px; border:1px dashed #eceff1;}
.testi-item blockquote{margin:0px; padding:0px; border:0px;}
#header .unread{background: #f4f8fb;}
.kh-navbar{background:#FFFFFF;border-bottom: 5px solid #ebf1f5;height:75px;}
.searchbar-filtr{    height: 25px;}
.navbar-form-rt{padding:0px;}
.navbar-form-rt  .input-group-btn .dropdown-menu  {
      background: #ebf1f5;
    border-radius: 0px;
    box-shadow: none;
    }
    .company-container ul.dropdown-menu li.active a,
     .company-container ul.dropdown-menu li:hover a{ color:#e53963!important;background:#ebf1f5;}

.rc-anchor-light{border: 1px solid #b9c3d0!important;color: #6f7d95;}

/* Dec 21 */
.prof-awarditem{ margin-bottom: 20px; }
.prof-testiitem{ margin-bottom: 10px; }
.n-icon-head{font-family: 'Roboto Medium';}
.profile-overview .det a:focus{text-decoration:none;}
body>.content{min-height:75vh;}
.kh-nav-down{top:75px;}
.kh-nav-up{top:0;}
.nav-profile-icon{width:34px; padding-bottom:6px;}
.kh-top-search input[type="text"]:focus{box-shadow:none;}
.footer-links1{float:right;}
  #header .nav-right {
                margin-top: 20px;
        }
#myNavbar{background: #ffffff;}