@CHARSET "ISO-8859-1";

.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }

.radio {
  padding-left: 20px; }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 50; }
    .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }





.form-control:focus {
	border-color: #38a7bb;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(56, 167, 187, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(56, 167, 187, 0.6);
}

.box-image-text.blog .author-category {
	color: #999999;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	font-weight: 300;
	font-size: 12px;
}

.box-image-text.blog .author-category a {
	font-weight: 500;
}

.box-image-text.blog .intro {
	text-align: left;
	margin-bottom: 20px;
}

#blog-listing-big .post .image,#blog-homepage .post .image {
	margin-bottom: 10px;
	overflow: hidden;
}

#blog-listing-big .post .image img,#blog-homepage .post .image img {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#blog-listing-medium .post .image {
	margin-bottom: 10px;
	overflow: hidden;
}

#blog-listing-medium .post .image img {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

@media ( max-width : 767px) {
	#blog-listing-medium .post .image img.img-responsive {
		min-width: 100%;
	}
}

.btn {
	font-weight: 700;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	padding: 6px 12px;
	font-size: 13px;
	line-height: 1.42857143;
	border-radius: 0;
}

.input-group .btn {
	font-size: 14px;
}

.btn-lg {
	padding: 10px 16px;
	font-size: 14px;
	line-height: 1.33;
	border-radius: 0;
}

.btn-sm {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 0;
}

.btn-xs {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 0;
}

.navbar .navbar-buttons button,.navbar .navbar-buttons a.btn,.navbar .navbar-buttons .btn-default.navbar-toggle
	{
	margin-top: 11px;
	margin-bottom: 11px;
	margin-left: 0;
	margin-right: 5px;
}

.navbar .btn-default,.navbar .btn-default.navbar-toggle {
	color: #999999;
	background-color: #fff;
	margin-left: 7px;
	margin-right: 0;
}

.navbar .btn-default:hover,.navbar .btn-default.navbar-toggle:hover,.navbar .btn-default:focus,.navbar .btn-default.navbar-toggle:focus
	{
	background-color: #fff;
	border-color: #38a7bb;
	color: #38a7bb;
}

.btn-template-main {
	color: #38a7bb;
	background-color: #ffffff;
	border-color: #38a7bb;
}

.btn-template-main:hover,.btn-template-main:focus,.btn-template-main:active,.btn-template-main.active,.open>.dropdown-toggle.btn-template-main
	{
	color: #38a7bb;
	background-color: #e6e6e6;
	border-color: #2a7d8c;
}

.btn-template-main:active,.btn-template-main.active,.open>.dropdown-toggle.btn-template-main
	{
	background-image: none;
}

.btn-template-main.disabled,.btn-template-main[disabled],fieldset[disabled] .btn-template-main,.btn-template-main.disabled:hover,.btn-template-main[disabled]:hover,fieldset[disabled] .btn-template-main:hover,.btn-template-main.disabled:focus,.btn-template-main[disabled]:focus,fieldset[disabled] .btn-template-main:focus,.btn-template-main.disabled:active,.btn-template-main[disabled]:active,fieldset[disabled] .btn-template-main:active,.btn-template-main.disabled.active,.btn-template-main[disabled].active,fieldset[disabled] .btn-template-main.active
	{
	background-color: #ffffff;
	border-color: #38a7bb;
}

.btn-template-main .badge {
	color: #ffffff;
	background-color: #38a7bb;
}

.btn-template-main:hover,.btn-template-main:focus,.btn-template-main:active,.btn-template-main.active
	{
	background: #38a7bb;
	color: #ffffff;
	border-color: #38a7bb;
}

.btn-template-transparent-primary {
	color: #ffffff;
	background-color: transparent;
	border-color: #ffffff;
}

.btn-template-transparent-primary:hover,.btn-template-transparent-primary:focus,.btn-template-transparent-primary:active,.btn-template-transparent-primary.active,.open>.dropdown-toggle.btn-template-transparent-primary
	{
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0);
	border-color: #e0e0e0;
}

.btn-template-transparent-primary:active,.btn-template-transparent-primary.active,.open>.dropdown-toggle.btn-template-transparent-primary
	{
	background-image: none;
}

.btn-template-transparent-primary.disabled,.btn-template-transparent-primary[disabled],fieldset[disabled] .btn-template-transparent-primary,.btn-template-transparent-primary.disabled:hover,.btn-template-transparent-primary[disabled]:hover,fieldset[disabled] .btn-template-transparent-primary:hover,.btn-template-transparent-primary.disabled:focus,.btn-template-transparent-primary[disabled]:focus,fieldset[disabled] .btn-template-transparent-primary:focus,.btn-template-transparent-primary.disabled:active,.btn-template-transparent-primary[disabled]:active,fieldset[disabled] .btn-template-transparent-primary:active,.btn-template-transparent-primary.disabled.active,.btn-template-transparent-primary[disabled].active,fieldset[disabled] .btn-template-transparent-primary.active
	{
	background-color: transparent;
	border-color: #ffffff;
}

.btn-template-transparent-primary .badge {
	color: transparent;
	background-color: #ffffff;
}

.btn-template-transparent-primary:hover,.btn-template-transparent-primary:focus,.btn-template-transparent-primary:active,.btn-template-transparent-primary.active
	{
	background: #fff;
	color: #38a7bb;
	border-color: #fff;
}

.btn-template-transparent-black {
	color: #ffffff;
	background-color: transparent;
	border-color: #ffffff;
}

.btn-template-transparent-black:hover,.btn-template-transparent-black:focus,.btn-template-transparent-black:active,.btn-template-transparent-black.active,.open>.dropdown-toggle.btn-template-transparent-black
	{
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0);
	border-color: #e0e0e0;
}

.btn-template-transparent-black:active,.btn-template-transparent-black.active,.open>.dropdown-toggle.btn-template-transparent-black
	{
	background-image: none;
}

.btn-template-transparent-black.disabled,.btn-template-transparent-black[disabled],fieldset[disabled] .btn-template-transparent-black,.btn-template-transparent-black.disabled:hover,.btn-template-transparent-black[disabled]:hover,fieldset[disabled] .btn-template-transparent-black:hover,.btn-template-transparent-black.disabled:focus,.btn-template-transparent-black[disabled]:focus,fieldset[disabled] .btn-template-transparent-black:focus,.btn-template-transparent-black.disabled:active,.btn-template-transparent-black[disabled]:active,fieldset[disabled] .btn-template-transparent-black:active,.btn-template-transparent-black.disabled.active,.btn-template-transparent-black[disabled].active,fieldset[disabled] .btn-template-transparent-black.active
	{
	background-color: transparent;
	border-color: #ffffff;
}

.btn-template-transparent-black .badge {
	color: transparent;
	background-color: #ffffff;
}

.btn-template-transparent-black:hover,.btn-template-transparent-black:focus,.btn-template-transparent-black:active,.btn-template-transparent-black.active
	{
	background: #fff;
	color: #000;
	border-color: #fff;
}

.btn-template-primary {
	color: #ffffff;
	background-color: #38a7bb;
	border-color: #38a7bb;
}

.btn-template-primary:hover,.btn-template-primary:focus,.btn-template-primary:active,.btn-template-primary.active,.open>.dropdown-toggle.btn-template-primary
	{
	color: #ffffff;
	background-color: #2c8494;
	border-color: #2a7d8c;
}

.btn-template-primary:active,.btn-template-primary.active,.open>.dropdown-toggle.btn-template-primary
	{
	background-image: none;
}

.btn-template-primary.disabled,.btn-template-primary[disabled],fieldset[disabled] .btn-template-primary,.btn-template-primary.disabled:hover,.btn-template-primary[disabled]:hover,fieldset[disabled] .btn-template-primary:hover,.btn-template-primary.disabled:focus,.btn-template-primary[disabled]:focus,fieldset[disabled] .btn-template-primary:focus,.btn-template-primary.disabled:active,.btn-template-primary[disabled]:active,fieldset[disabled] .btn-template-primary:active,.btn-template-primary.disabled.active,.btn-template-primary[disabled].active,fieldset[disabled] .btn-template-primary.active
	{
	background-color: #38a7bb;
	border-color: #38a7bb;
}

.btn-template-primary .badge {
	color: #38a7bb;
	background-color: #ffffff;
}

.portfolio-showcase p.lead {
	color: #555555;
	margin-bottom: 20px;
}

@media ( min-width : 768px) {
	.lead {
		font-size: 21px;
	}
}

.lead {
	margin-bottom: 20px;
	font-size: 18px;
}

p.lead {
	margin-bottom: 40px;
}

@media ( max-width : 991px) {
	.text-center-sm {
		text-align: center;
	}
}

.packages .package .price {
	line-height: 120px;
	height: 100px;
	color: #fff;
	font-weight: 400;
}

.packages .package .price h4 {
	display: inline;
	font-size: 50px;
	line-height: normal;
	margin-bottom: 0;
}

.packages .package .price .period {
	line-height: normal;
	color: #999999;
}

@media ( max-width : 767px) {
	#blog-listing-big .post .image img.img-responsive,#blog-homepage .post .image img.img-responsive
		{
		min-width: 100%;
	}
}

#productMain {
	margin-bottom: 30px;
}

#productMain .sizes {
	text-align: center;
}

#productMain .sizes h3, #productMain .sizes h4 {
	font-weight: 700;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	margin-bottom: 40px;
}

#productMain .sizes a {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background: #ccc;
	line-height: 40px;
	color: #555555;
	text-align: center;
	text-decoration: none;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

#productMain .sizes a.active,#productMain .sizes a:hover {
	background: #38a7bb;
	color: #fff;
}

#productMain .sizes input {
	display: none;
}

#productMain .price {
	font-size: 40px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

#thumbs a {
	display: block;
	border: solid 1px transparent;
}

#thumbs a.active {
	border-color: #38a7bb;
}

#product-social {
	text-align: center;
}

#product-social h4 {
	font-weight: 300;
	margin-bottom: 10px;
}

#product-social p {
	line-height: 26px;
}

#product-social p a {
	margin: 0 10px 0 0;
	color: #fff;
	display: inline-block;
	width: 26px;
	height: 26px;
	border-radius: 13px;
	line-height: 26px;
	font-size: 15px;
	text-align: center;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	vertical-align: bottom;
}

#product-social p a i {
	vertical-align: bottom;
	line-height: 26px;
}

#product-social p a.facebook {
	background-color: #4460ae;
}

#product-social p a.gplus {
	background-color: #c21f25;
}

#product-social p a.twitter {
	background-color: #3cf;
}

#product-social p a.instagram {
	background-color: #cd4378;
}

#product-social p a.email {
	background-color: #4a7f45;
}

@media ( max-width : 991px) {
	#product-social {
		text-align: center;
	}
}

#checkout .nav {
	margin-bottom: 20px;
	border-bottom: solid 1px #38a7bb;
}

#checkout .nav li {
	height: 100%;
}

#checkout .nav li a {
	display: block;
	height: 100%;
}

#order-summary table {
	margin-top: 20px;
}

#order-summary table td {
	color: #999999;
}

#order-summary table tr.total td,#order-summary table tr.total th {
	font-size: 18px;
	color: #555555;
	font-weight: 700;
}

#checkout .table tbody tr td,#basket .table tbody tr td,#customer-order .table tbody tr td
	{
	vertical-align: middle;
}

#checkout .table tbody tr td input,#basket .table tbody tr td input,#customer-order .table tbody tr td input
	{
	width: 50px;
	text-align: right;
}

#checkout .table tbody tr td img,#basket .table tbody tr td img,#customer-order .table tbody tr td img
	{
	width: 50px;
}

#checkout .table tfoot,#basket .table tfoot,#customer-order .table tfoot
	{
	font-size: 18px;
}

.shipping-method h4,.payment-method h4 {
	text-transform: uppercase;
	letter-spacing: 0.08em;
}

#customer-orders table tr th,#customer-orders table tr td {
	vertical-align: baseline;
}

#customer-order .table tfoot th {
	font-size: 18px;
	font-weight: 300;
}

#customer-order .addresses {
	text-align: right;
	margin-bottom: 30px;
}

#customer-order .addresses p {
	font-size: 18px;
	font-weight: 300;
}

#customer-account {
	margin-bottom: 30px;
}

#get-it {
	background: #38a7bb;
	padding: 50px 0 30px;
	color: #fff;
	text-align: center;
}

#get-it h1,#get-it h2,#get-it h3,#get-it h4,#get-it h5,#get-it h6 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	margin: 0 0 20px;
}

#get-it p {
	margin: 0 0 20px;
}

/* ribbons for product sales etc. */
.ribbon {
	position: absolute;
	top: 50px;
	padding-left: 51px;
	font-weight: 700;
	letter-spacing: 0.08em;
}

.ribbon .ribbon-background {
	position: absolute;
	top: 0;
	right: 0;
}

.ribbon .theribbon {
	position: relative;
	width: 80px;
	padding: 6px 20px 6px 20px;
	margin: 30px 10px 10px -71px;
	color: #fff;
	background-color: #38a7bb;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.ribbon .theribbon:before,.ribbon .theribbon:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
}

.ribbon .theribbon:after {
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #000000 #000000 transparent transparent;
}

.ribbon.sale {
	top: 0;
}

.ribbon.new {
	top: 50px;
}

.ribbon.new .theribbon {
	background-color: #5bc0de;
	text-shadow: 0px 1px 2px #bbb;
}

.ribbon.new .theribbon:after {
	border-color: #2390b0 #2390b0 transparent transparent;
}

.ribbon.gift {
	top: 100px;
}

.ribbon.gift .theribbon {
	background-color: #5cb85c;
	text-shadow: 0px 1px 2px #bbb;
}

.ribbon.gift .theribbon:after {
	border-color: #357935 #357935 transparent transparent;
}

.owl-carousel .owl-controls .owl-page.active span,.owl-theme .owl-controls .owl-page.active span,.owl-carousel .owl-controls.clickable .owl-page:hover span,.owl-theme .owl-controls.clickable .owl-page:hover span
	{
	background: #38a7bb;
}

.owl-carousel .owl-controls .owl-buttons,.owl-theme .owl-controls .owl-buttons
	{
	position: absolute;
	top: 5px;
	right: 0;
}

.owl-carousel .owl-controls .owl-buttons div,.owl-theme .owl-controls .owl-buttons div
	{
	width: 26px;
	height: 26px;
	line-height: 25px;
	margin: 0 5px 0 0;
	font-size: 18px;
	color: #38a7bb;
	padding: 0;
	background: #fff;
	border-radius: 13px;
	vertical-align: middle;
	text-align: center;
	opacity: 1;
	filter: alpha(opacity = 100);
}

.product {
	background: #fff;
	border-bottom: solid 1px #e6e6e6;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 60px;
	overflow: hidden;
	text-align: center;
}

.product .image {
	overflow: hidden;
}

.product .image img {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

@media ( max-width : 767px) {
	.product .image img.img-responsive {
		min-width: 100%;
	}
}

.product .text {
	padding: 10px;
}

.product .text h3 {
	font-size: 14px;
	font-weight: 700;
	height: 39.6px;
	text-transform: uppercase;
	letter-spacing: 0.08em;
}

.product .text h3 a {
	color: #555555;
}

.product .text h3 a:hover {
	text-decoration: none;
}

.product .text p.price {
	font-size: 18px;
}

.product .text p.price del {
	color: #999999;
}

.product .buttons {
	clear: both;
	position: absolute;
	display: none;
	bottom: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: solid 1px transparent;
	padding: 20px;
	background: rgba(255, 255, 255, 0.9);
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	text-align: center;
}

.product .buttons .btn {
	margin-bottom: 20px;
}

.product:hover {
	border-bottom: solid 1px #808080;
	top: 0;
}

.product:hover .buttons {
	clear: both;
	position: absolute;
	top: 0;
	background: rgba(255, 255, 255, 0.5);
}

.product:hover .image img {
	-webkit-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.containerPromo {
	position: relative;
	width: 150px;
}

.imagePromo {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.middlePromo {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: auto;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

.containerPromo:hover .imagePromo {
	opacity: 0.3;
}

.containerPromo:hover .middlePromo {
	opacity: 1;
}

.textPromo {
	background-color: #4CAF50;
	color: white;
	font-size: 15px;
	padding: 16px 20px;
}

hr {
	margin: 40px 0;
}

h3 {
	color: #1758AA
}

h3 span {
	font-size: 14px;
	display: block;
}

span[ng-click] {
	cursor: pointer;
}

.n-address {
min-height: 40px;
}

.n-mob {
    min-height: 40px;
}

.n-mail {
    min-height: 40px;
}

.content
{
	background-color: #EBF1F5;
}
.signup-container {
    
    height: 100%;
    height:503px;
    
}
.vcard{

border-bottom:1px solid #d7e2ea;
}

ul.contact-details li, ul.address li{
    list-style-type: none;
    margin: 0;
    padding: 13px 1px 11px 50px;
    vertical-align: middle;
    min-height: 40px;
}

ul li.notifications a.ic:hover{
  background: url(../img/kh_icons/b-notify-color.png) no-repeat 0px 0px transparent;
  color: #23BEE9;
}
ul li.messages a.ic:hover{
  background: url(../img/kh_icons/b-msg-color.png) no-repeat 0px 0px transparent;
  color: #F7931D;
}
ul li.users a.ic:hover{
  background: url(../img/kh_icons/b-friend-color.png) no-repeat 0px 0px transparent;
  color: #995FA6;
}

.da-tick:hover{
  background: url(../img/kh_icons/d-tick.png) no-repeat 0px 0px transparent;
}
.da-close:hover{
  background: url(../img/kh_icons/d-close.png) no-repeat 0px 0px transparent;
}
.e-luv-color{ background: url(../img/kh_icons/e-luv-color.png) no-repeat 0px 0px transparent; }

 .con-messagebox .modal-messagebox-body{
   background:#ebf1f5;
   padding:15px 20px;
   height: 500px;
    width: 650px;
}

.btn-skills,.btn-red{
  background:#ed4069;
      border: 1px solid #F53F6D;
    border-radius: 25px;
    padding: 3px 18px;
}
.btn-red{color:#FFFFFF;border: none;
    font-size: 12px;
    padding: 8px 20px;
    border-radius: 25px;
    color: white;
    font-family: Roboto Medium;
    line-height: 12px;}
    .btn-red:hover, .btn-red:focus{color:white;background:#d9325d;}
.btn-skills:hover, .btn-skills:focus{
  background:#d9325d;
  border: 1px solid #F53F6D;
}

.image-upload>input {
	display: none;
}
.mg50,pd50
{
	padding-left:50px;
}
.sliderImg
{
	width:100%;
	height:400px;
}
.mgRight50
{
	margin-right: 50px;
}

.example-animate-container {
  background:white;

  list-style:none;
  margin:0;
  padding:0 10px;
}
 
.animate-repeat {
  line-height:40px;
  list-style:none;
  box-sizing:border-box;
}
 
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
 
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}
 
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}
#specError
{
	color:red;
	font-weight:bold;
}

/* code for chat box */
#fixed {
    bottom: 0;
    right:0px;
    overflow: hidden;
    padding: 0 5px;
    position: fixed;
    width: 350px;
    z-index: 1001;
    float:right;
}

.fixedHeader {
    background: none repeat scroll 0 0 #20cad5;
    border: 1px solid #bce8f1;
    border-bottom: none;
    color: #fff;
    height: 40px;
    margin: 0 auto;
    padding: 8px;
    width: 340px;   
    font-weight:700;
    font-size:15px;
    
}
//image css for app image




.fixedContent {
    background: none repeat scroll 0 0 #ffffff;
    border-left: 1px solid #bce8f1;
    border-right: 1px solid #bce8f1;
    margin: 0 auto;   
    width: 340px;
    height:300px;
    overflow: auto;
}
.chatForm
{
	padding: 10px 20px;
    line-height: 1.2em;
    color: #616161;
    font-size: 15px;
}

.wordBreak{
	word-wrap: break-word;
}
.defaultHeight
{
	min-height:540px;
}

.invitationBox
{
	display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.img-hover:hover
{
	opacity:0.7;
	-webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease;
	
}


 md-radio-button.md-default-theme .md-on, md-radio-button .md-on {
    background-color: #21cbd6;
    
} 
md-radio-button.md-checked .md-off {
    border-color: #21cbd6;
}


.imageDefaultSize {
    height: 100px;
    width: 100px;
}
.tab-pane{
  height:auto;
  overflow-y:auto;
  width:100%;
}

.galleryimg {
    margin-right: auto;
    margin-left: auto;
    min-height: 100;
    min-width: 100;
}

.profileimg {
  
    min-height: 180;
    min-width: 180;

}
.checkbox{
	
	
	width:25;
}
.socialbutton
{
   background:none;
   border: 0px;
background-color: none;
cursor: pointer;
outline: 0;
}
    .carousel-indicators
    {
    display:none
    }
    .editable-wrap {
    display: inline-block;
    margin: 0;
}
/* .nav-pills>li+li {
    margin-left: 0px;
} */
@media only screen and (min-width : 768px) {
.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand. 
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
}
.m-experience .form-inline .editable-controls input{ width:52px;}
.m-experience .form-inline .editable-buttons button[type='button']{display:none;}